* text=auto

# Directories
/.git export-ignore
/.github export-ignore
/.wordpress-org export-ignore
/bin export-ignore
/node_modules export-ignore
/tests export-ignore

# Files
/.gitattributes export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/assets/*.map export-ignore
/assets/*.scss export-ignore
/codeception.dist.yml export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/docker-compose.yml export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
