* text=auto

# Directories
/.config export-ignore
/.git export-ignore
/.github export-ignore
/.wordpress-org export-ignore
/bin export-ignore
/docs export-ignore
/node_modules export-ignore
/tests export-ignore

# Files
/.gitattributes export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.npmrc export-ignore
/.nvmrc export-ignore
/codeception.dist.yml export-ignore
/composer.lock export-ignore
/CODE_OF_CONDUCT.md export-ignore
/CONTRIBUTING.md export-ignore
/docker-compose.yml export-ignore
/netlify.toml export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpcs56.xml export-ignore
/phpstan.neon.dist export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
/tsconfig.json export-ignore
/vite.config.js export-ignore
