* text=auto

/assets-wp-repo export-ignore
/bin export-ignore
/tests export-ignore

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/assets/*.map export-ignore
/assets/*.scss export-ignore
/CONTRIBUTING.md export-ignore
/Gruntfile.js export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/SECURITY.md export-ignore
