includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 7
	tmpDir: tests/cache
	paths:
		- query-monitor.php
		- classes
		- collectors
		- dispatchers
		- output
		- tests/acceptance
		- tests/integration
		- wp-content
	scanDirectories:
		- tests/_support
	excludePaths:
		analyse:
			- tests/integration/Supports
	bootstrapFiles:
		- tests/phpstan/stubs.php
	dynamicConstantNames:
		- COOKIE_DOMAIN
		- SAVEQUERIES
	ignoreErrors:
		# Uses func_get_args()
		- '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
		# The `wpdb` class exposes its properties via `__get()`
		- '#Access to protected property wpdb::#'
		# Properties in QM_Data* classes are nullable
		- '#^Property QM_Data(.*)is not nullable\.$#'
		# Data providers for acceptance tests:
		-
			path: tests/acceptance/*
			message: '#^Method [^:]+::data[a-zA-Z]+\(\) is unused\.$#'
		# Passing ints and floats to these functions is fine
		- '#Parameter \#1 \$text of function esc_(html|attr) expects string, int\|string given#'
		- '#Parameter \#1 \$text of function esc_(html|attr) expects string, float\|int\|string given#'
	reportUnmatchedIgnoredErrors: false
	universalObjectCratesClasses:
		- QM_Data_Fallback
	exceptions:
		check:
			tooWideThrowType: true
