includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    tmpDir: tests/cache
    paths:
        - query-monitor.php
        - classes
        - collectors
        - dispatchers
        - output
        # - tests/phpunit
        - wp-content
    excludePaths:
        analyse:
         - tests/cache
    bootstrapFiles:
        - tests/stubs.php
    dynamicConstantNames:
        - SAVEQUERIES
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
        # These are false positives
        - '#Instanceof between string and mysqli will always evaluate to false#'
        - '#Call to function is_resource\(\) with string will always evaluate to false#'
