<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>./bin</directory>
				<directory>./svn</directory>
				<directory>./tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/includes/SpeedTrapListener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>100</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
