// Main container
$qm-container-fg: #444 !default;
$qm-container-bg: #f3f3f3 !default;
$qm-container-overflow: #ececec !default;

// Panels
$qm-panel-border: #aaa !default;
$qm-panel-fg: $qm-container-fg !default;
$qm-panel-bg: #fff !default;
$qm-panel-separator: #ddd !default;

// Panel menus
$qm-panel-menu-border: #ddd !default;
$qm-panel-menu-fg: #444 !default;
$qm-panel-menu-bg: $qm-container-bg !default;
$qm-panel-menu-fg-hover: #444 !default;
$qm-panel-menu-bg-hover: #cde !default;
$qm-panel-menu-fg-current: #444 !default;
$qm-panel-menu-bg-current: #def !default;
$qm-panel-menu-bg-current-focus: lighten( $qm-panel-menu-bg-current, 5% ) !default;
$qm-panel-menu-fg-selected: #fff !default;
$qm-panel-menu-bg-selected: #0073aa !default;
$qm-panel-menu-bg-selected-focus: lighten( $qm-panel-menu-bg-selected, 5% ) !default;
$qm-panel-menu-shadow: darken( $qm-panel-menu-bg-selected, 5% ) !default;

// Tables
$qm-cell-border: #e0e0e0 !default;
$qm-cell-bg-hover: #eef3fa !default;
$qm-cell-fg-highlight: $qm-container-fg !default;
$qm-cell-bg-highlight: #ffd !default;
$qm-cell-bg-highlight-dark: darken( $qm-cell-bg-highlight, 10% ) !default;
$qm-cell-bg-stripe: #f9f9f9 !default;
$qm-table-header-bg: #fff !default;
$qm-table-footer-bg: $qm-container-bg !default;

// Links and Buttons
$qm-link-fg: #0073aa !default;
$qm-link-fg-hover: lighten( $qm-link-fg, 10% ) !default;
$qm-link-fg-active: lighten( $qm-link-fg-hover, 10% ) !default;
$qm-button-fg: #fff !default;
$qm-button-bg: #007cba !default;
$qm-button-fg-hover: $qm-button-fg !default;
$qm-button-bg-hover: darken( $qm-button-bg, 3% ) !default;
$qm-button-fg-active: $qm-button-fg !default;
$qm-button-bg-active: darken( $qm-button-bg, 6% ) !default;
$qm-title-button-fg: #666 !default;
$qm-title-button-bg: transparent !default;
$qm-title-button-fg-hover: #000 !default;
$qm-title-button-bg-hover: #e6e6e6 !default;
$qm-info-fg: #666 !default;

// Formatting
$qm-warn-fg: #900 !default;
$qm-warn-bg: #fff0f0 !default;
$qm-warn-bg-dark: darken( $qm-warn-bg, 1.5% ) !default;
$qm-warn-border: #ffd6d6 !default;
$qm-nonselect-fg: #a0a !default;
$qm-selection-fg: $qm-container-fg !default;
$qm-selection-bg: #B9D6FB !default;

$colours-default: (
	// Main container
	'container-fg': $qm-container-fg,
	'container-bg': $qm-container-bg,
	'container-overflow': $qm-container-overflow,

	// Panels
	'panel-border': $qm-panel-border,
	'panel-fg': $qm-panel-fg,
	'panel-bg': $qm-panel-bg,
	'panel-separator': $qm-panel-separator,

	// Panel menus
	'panel-menu-border': $qm-panel-menu-border,
	'panel-menu-fg': $qm-panel-menu-fg,
	'panel-menu-bg': $qm-panel-menu-bg,
	'panel-menu-fg-hover': $qm-panel-menu-fg-hover,
	'panel-menu-bg-hover': $qm-panel-menu-bg-hover,
	'panel-menu-fg-current': $qm-panel-menu-fg-current,
	'panel-menu-bg-current': $qm-panel-menu-bg-current,
	'panel-menu-bg-current-focus': $qm-panel-menu-bg-current-focus,
	'panel-menu-fg-selected': $qm-panel-menu-fg-selected,
	'panel-menu-bg-selected': $qm-panel-menu-bg-selected,
	'panel-menu-bg-selected-focus': $qm-panel-menu-bg-selected-focus,
	'panel-menu-shadow': $qm-panel-menu-shadow,

	// Tables
	'cell-border': $qm-cell-border,
	'cell-bg-hover': $qm-cell-bg-hover,
	'cell-fg-highlight': $qm-cell-fg-highlight,
	'cell-bg-highlight': $qm-cell-bg-highlight,
	'cell-bg-highlight-dark': $qm-cell-bg-highlight-dark,
	'cell-bg-stripe': $qm-cell-bg-stripe,
	'table-header-bg': $qm-table-header-bg,
	'table-footer-bg': $qm-table-footer-bg,

	// Links and Buttons
	'link-fg': $qm-link-fg,
	'link-fg-hover': $qm-link-fg-hover,
	'link-fg-active': $qm-link-fg-active,
	'button-fg': $qm-button-fg,
	'button-bg': $qm-button-bg,
	'button-fg-hover': $qm-button-fg-hover,
	'button-bg-hover': $qm-button-bg-hover,
	'button-fg-active': $qm-button-fg-active,
	'button-bg-active': $qm-button-bg-active,
	'title-button-fg': $qm-title-button-fg,
	'title-button-bg': $qm-title-button-bg,
	'title-button-fg-hover': $qm-title-button-fg-hover,
	'title-button-bg-hover': $qm-title-button-bg-hover,
	'info-fg': $qm-info-fg,

	// Formatting
	'warn-fg': $qm-warn-fg,
	'warn-bg': $qm-warn-bg,
	'warn-bg-dark': $qm-warn-bg-dark,
	'warn-border': $qm-warn-border,
	'nonselect-fg': $qm-nonselect-fg,
	'selection-fg': $qm-selection-fg,
	'selection-bg': $qm-selection-bg,
);
