// Main container
$container-fg: #333;
$container-bg: #f3f3f3;
$container-overflow: #ececec;

// Panels
$panel-border: #aaa;
$panel-fg: $container-fg;
$panel-bg: #fff;
$panel-separator: #ddd;

// Panel menus
$panel-menu-border: #ddd;
$panel-menu-fg: #555;
$panel-menu-bg: $container-bg;
$panel-menu-fg-hover: #222;
$panel-menu-bg-hover: #def;
$panel-menu-fg-selected: #fff;
$panel-menu-bg-selected: #0073aa;
$panel-menu-shadow: darken( $panel-menu-bg-selected, 5% );

// Tables
$cell-border: #e0e0e0;
$cell-bg-hover: #eef3fa;
$cell-fg-highlight: $container-fg;
$cell-bg-highlight: #ffd;
$cell-border-highlight: #eec;
$table-header-bg: #fff;
$table-footer-bg: $container-bg;

// Links and Buttons
$link-fg: #0073aa;
$button-fg: #fff;
$button-bg: #0085ba;
$button-border: darken( $button-bg, 5% );
$button-fg-hover: $button-fg;
$button-bg-hover: lighten( $button-bg, 4% );
$button-shadow: darken( $button-bg, 5% );

// Warnings
$warn-fg: #800;
$warn-bg: #fff0f0;
$warn-border: #ffd6d6;
