// Main container
$qm-container-fg: #222 !default;
$qm-container-bg: #f3f3f3 !default;
$qm-container-overflow: #ececec !default;

// Panels
$qm-panel-border: #aaa !default;
$qm-panel-fg: $qm-container-fg !default;
$qm-panel-bg: #fff !default;
$qm-panel-separator: #ddd !default;

// Panel menus
$qm-panel-menu-border: #ddd !default;
$qm-panel-menu-fg: #333 !default;
$qm-panel-menu-bg: $qm-container-bg !default;
$qm-panel-menu-fg-hover: #222 !default;
$qm-panel-menu-bg-hover: #def !default;
$qm-panel-menu-fg-selected: #fff !default;
$qm-panel-menu-bg-selected: #0073aa !default;
$qm-panel-menu-shadow: darken( $qm-panel-menu-bg-selected, 5% ) !default;

// Tables
$qm-cell-border: #e0e0e0 !default;
$qm-cell-bg-hover: #eef3fa !default;
$qm-cell-fg-highlight: $qm-container-fg !default;
$qm-cell-bg-highlight: #ffd !default;
$qm-cell-border-highlight: #eec !default;
$qm-table-header-bg: #fff !default;
$qm-table-footer-bg: $qm-container-bg !default;

// Links and Buttons
$qm-link-fg: #0073aa !default;
$qm-link-fg-hover: lighten( $qm-link-fg, 10% ) !default;
$qm-button-fg: #fff !default;
$qm-button-bg: #0085ba !default;
$qm-button-border: darken( $qm-button-bg, 5% ) !default;
$qm-button-fg-hover: $qm-button-fg !default;
$qm-button-bg-hover: lighten( $qm-button-bg, 4% ) !default;
$qm-button-shadow: darken( $qm-button-bg, 5% ) !default;

// Warnings
$qm-warn-fg: #800 !default;
$qm-warn-bg: #fff0f0 !default;
$qm-warn-border: #ffd6d6 !default;
