/**
 * All the styles for Query Monitor.
 *
 * @package query-monitor
 */

@import "colours-default";

$qm-font-default-face: 'Helvetica Neue', 'Lucida Grande', 'Arial', sans-serif;
$qm-font-default-size: 12px;
$qm-font-default-line-height: 18px;
$qm-font-code-face: Menlo, Monaco, Consolas, monospace;
$qm-font-code-size: 11px;
$qm-font-code-line-height: 18px;

/* === Admin Toolbar === */

#wpadminbar {
	.quicklinks .menupop ul li.qm-true > a {
		color: $qm-toolbar-true-fg !important;

		&:focus,
		&:hover {
			color: $qm-toolbar-true-fg-hover !important;
		}
	}

	.qm-alert {
		background-color: $qm-toolbar-alert-bg;
	}

	#wp-admin-bar-query-monitor-notices a,
	.qm-notice {
		background-color: #740;
	}

	#wp-admin-bar-query-monitor-deprecateds a,
	.qm-deprecated {
		background-color: #3c3c3c;
	}

	#wp-admin-bar-query-monitor-stricts a,
	.qm-strict {
		background-color: #3c3c3c;
	}

	#wp-admin-bar-query-monitor-expensive a,
	.qm-expensive {
		background-color: #b60;
	}

	#wp-admin-bar-query-monitor-logger-warning a,
	#wp-admin-bar-query-monitor-warnings a,
	.qm-warning {
		background-color: #c00;

		&:hover {
			background-color: #b00;
			color: #ddd !important;
		}
	}

	#wp-admin-bar-query-monitor-errors a,
	.qm-error {
		background-color: #c00;
	}
}

#wp-admin-bar-query-monitor *,
#wp-admin-bar-query-monitor {
	direction: ltr !important;
	text-align: left !important;
}

body.admin-color-light #wp-admin-bar-query-monitor:not(.qm-all-clear):not(:hover):not(.hover) .ab-label,
#wp-admin-bar-query-monitor-deprecateds a,
#wp-admin-bar-query-monitor-stricts a,
#wp-admin-bar-query-monitor-notices a,
#wp-admin-bar-query-monitor-expensive a,
#wp-admin-bar-query-monitor-logger-warning a,
#wp-admin-bar-query-monitor-warnings a,
#wp-admin-bar-query-monitor-errors a {
	color: #eee !important;
}

#wp-admin-bar-query-monitor small {
	font-size: 11px !important;
}

#wp-admin-bar-query-monitor.hover a small,
#wp-admin-bar-query-monitor.hover a .ab-label {
	text-shadow: none !important;
}

#wp-admin-bar-query-monitor-placeholder,
#wp-admin-bar-query-monitor-default {
	display: none;
}

#wpadminbar #wp-admin-bar-query-monitor .ab-icon {
	font: 18px/44px 'Open Sans', sans-serif !important; /* @todo remove open sans */
	width: auto !important;
	padding: 0 10px !important;
	color: #aaa !important;
	display: none !important;
}

@media screen and (max-width: 782px) {
	/* force menu icon to show up */
	#wpadminbar #wp-admin-bar-query-monitor .ab-icon {
		display: block !important;
	}
	/* hide menu text */
	#wpadminbar #wp-admin-bar-query-monitor .ab-label {
		display: none !important;
	}
}

/* === Main QM Panel === */

#query-monitor,
#query-monitor dl,
#query-monitor dt,
#query-monitor dd,
#query-monitor button,
#query-monitor label,
#query-monitor select,
#query-monitor table,
#query-monitor td,
#query-monitor th,
#query-monitor ul,
#query-monitor ol,
#query-monitor li,
#query-monitor code,
#query-monitor a,
#query-monitor h1,
#query-monitor h2,
#query-monitor h3,
#query-monitor h4,
#query-monitor h5,
#query-monitor h6,
#query-monitor p {
	/* reset */
	background: transparent !important;
	color: $qm-container-fg !important;
	box-sizing: border-box !important;
	text-align: left !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: $qm-font-default-size !important;
	line-height: $qm-font-default-line-height !important;
	font-family: $qm-font-default-face !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	vertical-align: baseline !important;
	text-shadow: none !important;
	text-transform: none !important;
	-webkit-font-smoothing: auto !important;
	letter-spacing: normal !important;
	border-radius: 0 !important;
	transition: none !important;
	word-wrap: normal !important;
	word-break: normal !important;
	outline: none !important;
	box-shadow: none !important;
}

#query-monitor {
	background: $qm-panel-bg !important;
	margin: 0 !important;
	border-top: 1px solid $qm-panel-border !important;
	text-align: left !important;
	display: none;
	position: fixed;
	z-index: 99998 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	width: 100% !important;
	direction: ltr !important;
}

#query-monitor.qm-show,
#query-monitor.qm-peek {
	height: 27px;
	display: flex;
	flex-direction: column !important;
}

#query-monitor.qm-show {
	height: 40%;
}

#query-monitor {

	#qm-wrapper {
		display: flex;
		flex-grow: 1 !important;
		/* Fix nested scrolling in Firefox. See https://bugzilla.mozilla.org/show_bug.cgi?id=1043520: */
		min-height: 0;
	}

	#qm-title {
		background: $qm-container-bg !important;
		border-bottom: 1px solid $qm-panel-border !important;
		cursor: ns-resize !important;
		align-items:  center !important;
		display: flex !important;
		padding: 0 0 0 5px !important;
		height: 27px !important;
		flex-shrink: 0 !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		-webkit-user-select: none !important;
		user-select: none !important;
	}

	#qm-title .qm-title-heading {
		flex-grow: 1 !important;
		border-right: 1px solid #bbb !important;
		margin-right: 8px !important;
	}

	#qm-title div.qm-title-heading {
		display: none;
	}

	#qm-title .qm-title-button {
		flex-shrink: 0 !important;
	}

	#qm-title .dashicons {
		transition: none !important;
	}

	#qm-title .qm-button-container-settings .dashicons,
	#qm-title .qm-button-container-pin .dashicons {
		font-size: 17px !important;
		margin: 3px 0 2px !important;
	}

	#qm-title .qm-button-container-close .dashicons {
		margin: 2px 0 3px !important;
	}

	#qm-title button {
		color: #666 !important;
		cursor: pointer !important;
		margin: 0 0 0 0px !important;
		display: inline-block !important;
		padding: 0px 4px !important;
	}

	#qm-title button:focus,
	#qm-title button:hover {
		color: #000 !important;
		background: #e6e6e6 !important;
	}

	#qm-title button:active {
		background: #ccc !important;
	}

	#qm-title button.qm-button-active {
		color: #3879d9 !important;
	}

	#qm-title .qm-button-container-pin.qm-button-active .dashicons {
		transform: rotate( -45deg ) !important;
	}

	#qm-title .qm-button-container-pin.qm-button-active .dashicons:before {
		margin-left: 2px !important;
	}

	.qm {
		display: none !important;
	}

	#qm-panel-menu {
		overflow-y:  scroll !important;
		flex-shrink: 0 !important;
		background: $qm-container-overflow !important;
		overscroll-behavior: contain !important;
	}

	#qm-panel-menu ul {
		padding: 0 !important;
		margin: 0 !important;
	}

	#qm-panel-menu li {
		padding: 0 !important;
		margin: 0 !important;
	}

	#qm-panel-menu li button {
		display: block !important;
		padding: 8px 28px 8px 6px !important;
		color: $qm-panel-menu-fg !important;
		text-decoration: none !important;
		border-bottom: 1px solid $qm-panel-menu-border !important;
		position: relative !important;
		border-right: 1px solid $qm-panel-border !important;
		background: $qm-panel-menu-bg !important;
		width: 100% !important;
		cursor: pointer !important;
	}

	#qm-panel-menu li button:focus,
	#qm-panel-menu li button:hover {
		background: $qm-panel-menu-bg-hover !important;
		color: $qm-panel-menu-fg-hover !important;
	}

	#qm-panel-menu li button:focus {
		text-decoration: underline !important;
	}

	#qm-panel-menu li button.qm-selected-menu {
		background: $qm-panel-menu-bg-selected !important;
		color: $qm-panel-menu-fg-selected !important;
		text-shadow: 0 -1px 1px $qm-panel-menu-shadow, 1px 0 1px $qm-panel-menu-shadow, 0 1px 1px $qm-panel-menu-shadow, -1px 0 1px $qm-panel-menu-shadow !important;
	}

	#qm-panel-menu li button.qm-selected-menu:focus {
		background: $qm-panel-menu-bg-selected-focus !important;
		color: $qm-panel-menu-fg-selected !important;
	}

	#qm-panel-menu li button.qm-selected-menu:after {
		right: -1px;
		border: solid 8px transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-right-color: $qm-panel-bg;
		top: 50%;
		margin-top: -8px;
	}

	#qm-panels {
		flex-grow: 1 !important;
		overflow-y: scroll !important;
		overscroll-behavior: contain !important;
	}

	.qm.qm-panel-show {
		display: block !important;
	}

	.qm:focus {
		outline: 0 !important; /* @TODO might not need this any more */
	}

	.qm-non-tabular {
		padding: 10px 20px !important;
	}

	.qm-boxed {
		display: flex !important;
		flex-wrap: wrap !important;
	}

	.qm-boxed:not(#qm-broken) + .qm-boxed {
		border-top: 1px solid $qm-panel-separator !important;
		padding-top: 10px !important;
	}

	.qm-boxed-wrap {
		flex-wrap: wrap !important;
	}

	.qm .qm-none {
		margin: 2em !important;
	}

	.qm .qm-none p {
		text-align: center !important;
		font-style: italic !important;
	}

	.qm table {
		color: $qm-panel-fg !important;
		border-collapse: collapse !important;
		box-shadow: none !important;
		width: 100% !important;
		table-layout: auto !important;
		margin: 0 !important;
		border: none !important;
		border-bottom: 1px solid $qm-cell-border !important;
	}

	.qm table + table {
		margin-top: 5px !important;
		border-top: 1px solid $qm-cell-border !important;
	}

	#qm-conditionals table,
	#qm-overview table {
		table-layout: fixed !important;
	}

	.qm tr {
		border: none !important;
	}

	.qm tbody th,
	.qm tbody td,
	.qm tfoot th,
	.qm tfoot td {
		border: 1px solid $qm-cell-border !important;
		padding: 5px 5px 4px 5px !important;
	}

	.qm tbody th,
	.qm tbody td {
		border-top: none !important;
		border-bottom: none !important;
	}

	.qm thead th {
		box-shadow: 0px 1px 0px $qm-cell-border !important;
		border: 1px solid $qm-cell-border !important;
		border-top: none !important;
		padding: 5px !important;
		position: -webkit-sticky !important;
		position: sticky !important;
		top: 0 !important;
		background: $qm-table-header-bg !important;
		z-index: 1 !important;
	}

	.qm thead .qm-th {
		display: flex !important;
	}

	.qm tfoot tr td,
	.qm tfoot tr th {
		box-shadow: inset 0px 1px 0px $qm-cell-border !important;
		border: 1px solid $qm-cell-border !important;
		border-bottom: none !important;
		background: $qm-table-footer-bg !important;
		position: -webkit-sticky !important;
		position: sticky !important;
		bottom: 0 !important;
	}

	.qm th:first-child,
	.qm td:first-child {
		border-left: none !important;
	}

	.qm th:last-child,
	.qm td:last-child {
		border-right: none !important;
	}

	.qm tfoot td.qm-num,
	.qm tfoot th.qm-num,
	.qm thead td.qm-num,
	.qm thead th.qm-num {
		width: 5.5em !important;
	}

	.qm th.qm-num,
	.qm td.qm-num {
		text-align: right !important;
	}

	.qm td.qm-row-sql {
		min-width: 25em !important;
	}

	.qm tr.qm-warn td.qm-col-status,
	.qm td.qm-url,
	.qm th.qm-col-message,
	.qm td.qm-row-component {
		min-width: 15em !important;
	}

	.qm td.qm-has-toggle p,
	.qm td .qm-toggler {
		padding: 0 22px 0 0 !important;
		position: relative !important;
	}

	.qm td.qm-has-toggle:not(.qm-toggled-on) .qm-supplemental {
		display: none;
	}

	.qm .qm-inner-toggle {
		padding: 4px 6px !important;
	}
}

.qm-has-inner .qm-toggled > table {
	border-top: 1px solid $qm-cell-border !important;
}

.qm-inner {
	border-collapse: collapse !important;
	margin: 0 !important;
	border-style: hidden !important;
	width: 100% !important;
}

#query-monitor {

	.qm td.qm-has-inner .qm-toggler,
	.qm td.qm-has-inner {
		padding: 0 !important;
	}

	.qm-non-tabular h3 {
		margin: 0 0 15px 0 !important;
		font-size: 14px !important;
	}

	.qm-non-tabular h4 {
		margin: 20px 0 10px !important;
		font-size: 12px !important;
	}

	.qm-non-tabular p {
		margin-bottom: 10px !important;
	}

	.qm-non-tabular dd {
		margin: 0 0 10px 10px !important;
	}

	.qm-non-tabular h3 a {
		float: right !important;
	}

	.qm-non-tabular .qm-item {
		display: inline-block !important;
		margin: 0 20px 5px 0 !important;
	}

	.qm-non-tabular .qm-section {
		margin: 0 0 30px 0 !important;
	}

	.qm-non-tabular .qm-boxed .qm-section {
		margin: 0 20px 10px 0 !important;
		border-right: 1px solid $qm-panel-separator !important;
		padding: 10px 20px 10px 0 !important;
	}

	.qm-non-tabular .qm-boxed .qm-section:last-child {
		margin-right: 0 !important;
		border-right: none !important;
		padding-right: 20px !important;
	}

	.qm-non-tabular table {
		border-bottom-color: $qm-cell-border !important;
	}

	.qm ol,
	.qm ul {
		list-style: none !important;
	}

	.qm li {
		display: list-item !important;
		list-style: none !important;
	}

	.qm li::before {
		content: '' !important;
	}

	.qm .qm-has-toggle ol.qm-numbered li {
		list-style: none !important;
	}

	.qm .qm-toggled-on ol.qm-numbered li,
	.qm ol.qm-numbered li {
		list-style: decimal inside !important;
	}

	.qm code,
	.qm pre {
		font-size: $qm-font-code-size !important;
		line-height: $qm-font-code-line-height !important;
		font-family: $qm-font-code-face !important;
	}

	.qm pre {
		background: transparent !important;
		margin: 0 !important;
		width: auto !important;
		height: auto !important;
		padding: 0 !important;
	}

	.qm .qm-true code,
	.qm p.qm-true,
	.qm span.qm-true,
	.qm td.qm-true {
		color: #4a4 !important;
	}

	.qm .qm-false code,
	.qm span.qm-false,
	.qm td.qm-false {
		color: #999 !important;
	}

	.qm code,
	.qm .qm-nowrap {
		white-space: nowrap !important;
	}

	.qm .qm-wrap code,
	.qm .qm-wrap {
		word-wrap: break-word !important;
		word-break: break-all !important;
		white-space: normal !important;
	}

	.qm .qm-sticky {
		position: sticky !important;
		top: 36px !important;
	}

	.qm .qm-current,
	.qm td.qm-has-toggle p,
	.qm .qm-nonselectsql code,
	.qm .qm-nonselectsql {
		color: #a0a !important;
	}

	.qm .qm-info {
		color: #777 !important;
	}

	.qm .qm-supplemental {
		margin-right: 0.75em !important;
		margin-left: 0.75em !important;
	}

	.qm td .qm-toggled {
		display: none;
	}

	.qm button.qm-button,
	.qm .qm-toggle {
		color: $qm-button-fg !important;
		font-weight: normal !important;
		background: $qm-button-bg !important;
		cursor: pointer !important;
		border: 1px solid $qm-button-border !important;
		border-radius: 2px !important;
		text-shadow: 0 -1px 1px $qm-button-shadow, 1px 0 1px $qm-button-shadow, 0 1px 1px $qm-button-shadow, -1px 0 1px $qm-button-shadow !important;
	}

	.qm .qm-toggle {
		padding: 0 !important;
		font-family: $qm-font-code-face !important;
		position: absolute !important;
		top: 0 !important;
		right: 0 !important;
		left: auto !important;
		bottom: auto !important;
		text-align: center !important;
		line-height: 16px !important;
		height: 18px !important;
		width: 18px !important;
	}

	.qm button {
		cursor: pointer !important;
	}

	.qm button.qm-button {
		padding: 4px 10px !important;
	}

	.qm .qm-has-inner .qm-toggle {
		top: 5px !important;
		right: 5px !important;
	}

	.qm button.qm-button:hover,
	.qm button.qm-button:focus,
	.qm .qm-toggle:focus,
	.qm .qm-toggle:hover {
		text-decoration: none !important;
		color: $qm-button-fg-hover !important;
		background: $qm-button-bg-hover !important;
	}

	.qm tbody tr.qm-odd td,
	.qm tbody tr.qm-odd th {
		background: #f7f7f7 !important;
	}
}

.qm-debug-bar tbody tr:hover th,
.qm-debug-bar tbody tr:hover td {
	background: #fff !important; /* transparent? */
}

#query-monitor {
	.qm-non-tabular .qm-warn,
	.qm thead tr .qm-warn,
	.qm tbody tr .qm-warn {
		background-color: $qm-warn-bg !important;
		color: $qm-warn-fg !important;
	}

	.qm tbody tr th.qm-warn,
	.qm tbody tr td.qm-warn,
	.qm tbody tr.qm-warn td,
	.qm tbody tr.qm-warn th {
		background-color: $qm-warn-bg !important;
		box-shadow: inset 0 -1px $qm-warn-border !important;
		border-color: $qm-warn-border !important;
		color: $qm-warn-fg !important;
	}

	.qm-non-tabular .qm-warn code,
	.qm tbody .qm-warn li,
	.qm tbody .qm-warn .qm-info,
	.qm tbody .qm-warn code {
		color: $qm-warn-fg !important;
		background-color: transparent !important;
	}

	.qm .qm-notice {
		background: $qm-panel-menu-bg-hover !important;
		border: 1px solid darken( $qm-panel-menu-bg-hover, 10% ) !important;
		padding: 10px 20px 0 !important;
		margin: 0 0 10px 0 !important;
	}

	.qm .dashicons {
		font-size: 16px !important;
		width: 16px !important;
		height: 16px !important;
		margin-right: 0.3em !important;
		transition: none !important;
	}

	.qm .qm-dashicons-yes {
		color: #fff !important;
		background-color: #0a0 !important;
		border-radius: 50% !important;
	}

	.qm tbody tr.qm-hovered th,
	.qm tbody tr.qm-hovered td,
	.qm tbody tr:hover th,
	.qm tbody tr:hover td {
		background: $qm-cell-bg-hover !important;
	}

	.qm thead th.qm-filtered select.qm-filter {
		background-color: $qm-cell-bg-highlight !important;
		color: $qm-cell-fg-highlight !important;
	}

	.qm tbody tr td.qm-highlight,
	.qm tbody tr.qm-highlight td {
		background-color: $qm-cell-bg-highlight !important;
		box-shadow: inset 0 -1px $qm-cell-border-highlight !important;
		border-color: $qm-cell-border-highlight !important;
		color: $qm-cell-fg-highlight !important;
	}
}

#query-monitor .qm tbody .qm-warn a code,
#qm-title a,
#query-monitor .qm a code,
#query-monitor .qm a {
	color: $qm-link-fg !important;
	text-decoration: none !important;
	cursor: pointer !important;
}

#qm-title a:focus,
#qm-title a:hover,
#query-monitor .qm a:after,
#query-monitor .qm a:focus,
#query-monitor .qm a:hover {
	text-decoration: underline !important;
	color: $qm-link-fg-hover !important;
}

#query-monitor .qm a.qm-edit-link:after,
#query-monitor .qm a.qm-filter-trigger:after {
	font-family: dashicons !important;
	text-decoration: none !important;
	visibility: hidden !important;
	display: inline-block !important;
}

#query-monitor.qm-touch .qm a.qm-edit-link:after,
#query-monitor .qm a.qm-edit-link:hover:after,
#query-monitor .qm a.qm-edit-link:focus:after,
#query-monitor.qm-touch .qm a.qm-filter-trigger:after,
#query-monitor .qm a.qm-filter-trigger:hover:after,
#query-monitor .qm a.qm-filter-trigger:focus:after {
	visibility: visible !important;
}

#query-monitor .qm a.qm-filter-trigger:after {
	content: '\f536' !important;
	font-size: 13px !important;
	line-height: 15px !important;
	position: relative !important;
	top: 2px !important;
}

#query-monitor .qm a.qm-edit-link:after {
	content: '\f464' !important;
	font-size: 15px !important;
	line-height: 15px !important;
	position: relative !important;
	top: 2px !important;
}

#query-monitor #qm-ajax-errors {
	display: none;
}

/* Filters */

#query-monitor button,
#query-monitor select {
	margin: 0 !important;
	height: auto !important;
	width: auto !important;
	background: none !important;
}

#query-monitor .qm label {
	cursor: pointer !important;
	color: $qm-panel-fg !important;
	font-weight: normal !important;
	font-size: 12px !important;
	font-style: normal !important;
	margin: 0 !important;
}

#query-monitor .qm thead label {
	flex-grow: 1 !important;
}

#query-monitor .qm .qm-filter-container {
	display: flex !important;
}

#query-monitor .qm .qm-filter-container label {
	cursor: default !important;
}

#query-monitor .qm .qm-filter-container div {
	/* Some themes use Select2 etc on all selects. This hides that. */
	display: none !important;
}

#query-monitor .qm select.qm-filter {
	display: block !important;
	margin: 0 0 0 5px !important;
	outline: 1px solid $qm-panel-border !important;
	border: none !important;
	padding: 0 !important;
	background: $qm-table-header-bg !important;
	color: $qm-panel-fg !important;
	height: auto !important;
	width: auto !important;
	float: none !important;
	cursor: pointer !important;
	-webkit-appearance: menulist !important;
	-moz-appearance: menulist !important;
	appearance: menulist !important;
	letter-spacing: normal !important;
	max-width: 10em !important;
}

#query-monitor .qm select.qm-filter:hover {
	background: $qm-container-bg !important;
}

.qm-hide,
.qm-hide-scripts-host,
.qm-hide-styles-host,
.qm-hide-user,
.qm-hide-result,
.qm-hide-name,
.qm-hide-type,
.qm-hide-caller,
.qm-hide-component {
	display: none !important;
}

/* Sorters */

#query-monitor .qm thead th.qm-sortable-column {
	cursor: pointer !important;
}

#query-monitor .qm thead th.qm-sortable-column:hover {
	background: $qm-container-bg !important;
}

#query-monitor .qm .qm-sort-heading {
	flex-grow: 1 !important;
}

#query-monitor .qm .qm-sort-controls {
	text-align: right !important;
	flex-shrink: 0 !important;
}

#query-monitor .qm .qm-sortable-column .qm-sort-arrow {
	font-size: 24px !important;
	color: #ccc !important;
	margin: 0 !important;
	width: 16px !important;
	height: 10px !important;
}

#query-monitor .qm  .qm-sorted-desc .qm-sort-arrow,
#query-monitor .qm  .qm-sorted-asc .qm-sort-arrow {
	color: $qm-container-fg !important;
}

#query-monitor .qm thead th.qm-sortable-column:hover .qm-sort-arrow {
	color: $qm-panel-menu-bg-selected !important;
}

#query-monitor .qm .qm-sortable-column .qm-sort-arrow:before {
	content: "\f140" !important;
	top: 1px !important;
	right: 0 !important;
	position: absolute !important;
}

#query-monitor .qm .qm-sortable-column.qm-sorted-asc .qm-sort-arrow:before {
	content: "\f142" !important;
}

#query-monitor .qm button:focus,
#query-monitor .qm a:focus,
#query-monitor .qm select:focus {
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8) !important;
}

#query-monitor .qm-screen-reader-text,
#query-monitor .screen-reader-text {
	position: absolute !important;
	margin: -1px !important;
	padding: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	border: 0 !important;
}

@media screen and (max-width: 782px) {

	#qm-panel-menu,
	#qm-title h1.qm-title-heading {
		display: none;
	}

	#qm-title div.qm-title-heading {
		display: block;
	}

}

/* State Toggle */

#query-monitor [data-qm-state="off"] [data-qm-state-visibility="on"],
#query-monitor [data-qm-state="on"] [data-qm-state-visibility="off"] {
	display: none;
}

/* No-JS tweaks */

.qm-no-js .qm-sort-controls,
.qm-no-js .qm-toggle,
.qm-no-js select.qm-filter {
	display: none !important;
}

/* Debug bar add-ons */

#query-monitor .qm.qm-debug-bar textarea,
#query-monitor .qm.qm-debug-bar pre {
	padding: 10px !important;
	border: 1px solid $qm-panel-separator !important;
	margin: 4px 0 !important;
}

#query-monitor .qm.qm-debug-bar textarea {
	resize: vertical !important;
}

#query-monitor .qm.qm-debug-bar .left {
	float: left !important;
}

#query-monitor .qm.qm-debug-bar .right {
	float: right !important;
}

#query-monitor .qm.qm-debug-bar h2 {
	margin: 4px 6px 15px !important;
}

#query-monitor .qm.qm-debug-bar h3 {
	float: left !important; /* why */
	min-width: 150px !important;
	padding: 5px 10px 15px !important;
	clear: none !important;
	text-align: center !important;
	font-size: 14px !important;
	margin: 3px 8px 15px 0 !important;
}

#query-monitor .qm.qm-debug-bar h3 small {
	font-size: 14px !important;
}

#query-monitor .qm.qm-debug-bar h3 span {
	white-space: nowrap !important;
	display: block !important;
	margin-bottom: 8px !important;
}

#query-monitor .qm.qm-debug-bar h4 {
	margin: 15px 6px 5px !important;
	font-size: 13px !important;
}

#query-monitor .qm.qm-debug-bar .qm-debug-bar-output {
	position: relative !important;
}

#query-monitor .qm.qm-debug-bar .qm-debug-bar-output table {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

#query-monitor #debug-menu-target-Debug_Bar_Console {
	min-height: 400px !important;
}

#query-monitor #debug-menu-target-Debug_Bar_Cache_Lookup,
#query-monitor #debug-menu-target-Debug_Bar_Rewrite_Rules,
#query-monitor #debug-menu-target-Debug_Bar_Widgets {
	margin: 4px 6px !important;
}

#query-monitor #debug-menu-target-Debug_Bar_Rewrite_Rules_Panel .filterui,
#query-monitor #debug-menu-target-Debug_Bar_Rewrite_Rules_Panel .dbrr {
	margin: 0 !important;
}

/* Broken output handling */

#query-monitor.qm-broken #qm-title {
	cursor: default !important;
}

#query-monitor #qm-broken,
#query-monitor.qm-broken .qm-title-button {
	display: none !important;
}

#query-monitor.qm-broken #qm-broken,
#query-monitor.qm-broken .qm {
	display: block !important;
}

#query-monitor.qm-broken .qm {
	margin-bottom: 50px !important;
}

#query-monitor.qm-broken #qm-broken h2 {
	padding: 20px !important;
}
