/*
Copyright 2009-2015 John Blackbourn

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

*/

#wpadminbar .quicklinks .menupop ul li.qm-true > a {
	color: #8c8 !important;
}

#wpadminbar .quicklinks .menupop ul li.qm-true > a:focus,
#wpadminbar .quicklinks .menupop ul li.qm-true > a:hover {
	color: #4a4 !important;
}

#wp-admin-bar-query-monitor-notices {
	background-color: #740 !important;
}

#wpadminbar .qm-notice {
	background-color: #740;
}

#wp-admin-bar-query-monitor-deprecated,
#wp-admin-bar-query-monitor-stricts {
	background-color: #555 !important;
}

#wpadminbar .qm-deprecated,
#wpadminbar .qm-strict {
	background-color: #3c3c3c;
}

#wp-admin-bar-query-monitor-expensive {
	background-color: #b60 !important;
}

#wpadminbar .qm-expensive {
	background-color: #b60;
}

#wp-admin-bar-query-monitor-warnings {
	background-color: #c00 !important;
}

#wpadminbar .qm-warning {
	background-color: #c00;
}

#wpadminbar .qm-warning > a {
	color: #fff !important;
}

#wp-admin-bar-query-monitor-errors {
	background-color: #c00 !important;
}

#wpadminbar .qm-error {
	background-color: #c00 !important;
}

#wpadminbar .qm-error > a {
	color: #fff !important;
}

#wp-admin-bar-query-monitor-deprecated a,
#wp-admin-bar-query-monitor-stricts a,
#wp-admin-bar-query-monitor-notices a,
#wp-admin-bar-query-monitor-expensive a,
#wp-admin-bar-query-monitor-warnings a,
#wp-admin-bar-query-monitor-errors a {
	color: #eee !important;
}

#wp-admin-bar-query-monitor small {
	font-size: 11px !important;
}

#wp-admin-bar-query-monitor.hover a small,
#wp-admin-bar-query-monitor.hover a .ab-label {
	text-shadow: none !important;
}

#wp-admin-bar-query-monitor-placeholder,
#wp-admin-bar-query-monitor-default {
	display: none;
}

#wpadminbar #wp-admin-bar-query-monitor .ab-icon {
	font: 18px/44px 'Open Sans', sans-serif !important;
	width: auto !important;
	padding: 0 10px !important;
	color: #aaa !important;
	display: none !important;
}

@media screen and (max-width: 782px) {
	/* force menu icon to show up */
	#wpadminbar #wp-admin-bar-query-monitor .ab-icon {
		display: block !important;
	}
	/* hide menu text */
	#wpadminbar #wp-admin-bar-query-monitor .ab-label {
		display: none !important;
	}
}

#qm {
	clear: both !important;
	background: #f1f1f1 !important;
	margin: 25px 0 0 !important;
	border-top: 1px solid #ccc !important;
	padding: 0 0 35px !important;
	text-align: left !important;
	display: none;
}

#qm.qm-absolute {
	z-index: 9999 !important;
	position: absolute !important;
}

#qm.qm-show,
.no-js #qm,
.nojs #qm {
	display: block;
}

#qm:after {
	display: block !important;
	content: '' !important;
	clear: both !important;
	height: 0 !important;
}

body.wp-admin #qm {
	margin: 0 0 0 160px !important;
}

body.wp-admin.folded #qm {
	margin-left: 36px !important;
}

@media screen and (max-width: 782px) {
	body.wp-admin #qm {
		margin-left: 0 !important;
	}
}

#qm-wrapper {
	margin: 0 auto;
}

#qm-wrapper > p {
	color: #777 !important;
	font: 13px/15px 'Open Sans', Arial !important;
	margin: 20px 20px -15px !important;
	font-style: italic !important;
}

.qm {
	margin: 0 1% !important;
	padding: 40px 0 0 !important;
	clear: both !important;
}

.qm-half {
	float: left !important;
	width: 48% !important;
	clear: none !important;
}

@media all and (max-width: 900px) {
	.qm-half {
		float: none !important;
		width: 100% !important;
		clear: both !important;
	}
}

.qm-clear {
	clear: left !important;
}

.qm table {
	color: #444 !important;
	border-collapse: collapse !important;
	box-shadow: none !important;
	width: 100% !important;
	table-layout: auto !important;
	margin: 0 !important;
}

.qm td,
.qm th {
	background: #fff !important;
	box-sizing: border-box !important;
	text-align: left !important;
	font-family: Menlo, Monaco, Consolas, monospace !important;
	font-size: 11px !important;
	font-weight: normal !important;
	font-style: normal !important;
	line-height: 16px !important;
	border: 1px solid #e8e8e8 !important;
	padding: 5px 8px 4px !important;
	vertical-align: top !important;
	text-shadow: none !important;
	text-transform: none !important;
}

.qm .qm-totally-legit-spacer td {
	background-color: #f1f1f1 !important;
	border-right-color: #f1f1f1 !important;
	border-left-color: #f1f1f1 !important;
	height: 20px !important;
}

.qm tbody tr:hover th,
.qm tbody tr:hover td {
	background: #f9f9f9 !important;
}

.qm-debug-bar tbody tr:hover th,
.qm-debug-bar tbody tr:hover td,
#qm-conditionals tbody tr:hover td,
#qm-overview tbody tr:hover td,
#qm-authentication tbody tr:hover td,
.qm tbody tr:hover th[rowspan],
.qm tbody tr:hover td[rowspan] {
	background: #fff !important;
}

.qm th {
	color: #444 !important;
}

.qm th.qm-num {
	width: 5.5em !important;
	text-align: center !important;
}

.qm td.qm-num {
	text-align: right !important;
}

.qm td.qm-has-toggle {
	padding: 0 !important;
}

.qm td .qm-toggler {
	padding: 5px 8px 4px !important;
	position: relative !important;
}

.qm .qm-inner-toggle {
	padding: 5px 8px 4px !important;
}

.qm-has-inner .qm-toggled > table {
	border-top: 1px solid #eee !important;
}

.qm-inner {
	border-collapse: collapse !important;
	margin: 0 !important;
	background: #fff !important;
	color: #444 !important;
	border-style: hidden !important;
	width: 100% !important;
}

.qm td.qm-has-inner .qm-toggler,
.qm td.qm-has-inner {
	padding: 0 !important;
}

.qm ol {
	margin: 0 !important;
	padding: 0 0 0 30px !important;
	list-style: decimal !important;
}

.qm ul {
	margin: 0 !important;
	padding: 0 0 0 10px !important;
	list-style: none !important;
}

.qm li {
	margin-bottom: 2px !important;
}

.qm pre {
	font-family: Menlo, Monaco, Consolas, monospace !important;
	font-size: 11px !important;
	font-weight: normal !important;
	font-style: normal !important;
	line-height: 16px !important;
	color: inherit !important;
	background: transparent; !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.qm code {
	font-family: Menlo, Monaco, Consolas, monospace !important;
	font-size: 11px !important;
	font-weight: normal !important;
	font-style: normal !important;
	line-height: 16px !important;
	color: inherit !important;
	background: #f1f1f1 !important;
	padding: 3px 4px 2px !important;
	margin: 0 !important;
}

.qm span.qm-true,
.qm td.qm-true {
	color: #4a4 !important;
}

.qm span.qm-false,
.qm td.qm-false {
	color: #ccc !important;
}

.qm .qm-wrap {
	word-wrap: break-word !important;
	word-break: break-all !important;
}

.qm .qm-nowrap {
	white-space: nowrap !important;
}

.qm .qm-nonselectsql {
	color: #a0a !important;
}

.qm .qm-current {
	color: #a0a !important;
}

.qm .qm-info {
	color: #999 !important;
}

.qm td .qm-toggled {
	display: none;
}

.qm a {
	color: #2ea2cc !important;
	text-decoration: none !important;
	text-shadow: none !important;
	font-weight: normal !important;
}
.qm a:focus,
.qm a:hover {
	text-decoration: underline !important;
	color: #2ea2cc !important;
}

.qm a.qm-warn {
	text-decoration: underline !important;
}

.qm a.qm-toggle {
	color: #bbb !important;
	padding: 2px 7px !important;
	border-left: 1px solid #e1e1e1 !important;
	border-bottom: 1px solid #e1e1e1 !important;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	background: #fff !important;
}

.qm a.qm-toggle:focus,
.qm a.qm-toggle:hover {
	text-decoration: none !important;
	border-color: #e1e1e1 !important;
	color: #888 !important;
	background: #eee !important;
}

.qm tr.error,
.qm .qm-warn,
.qm .qm-warn td,
.qm .qm-warn th,
.qm .qm-warn td .qm-nonselectsql,
.qm .qm-warn td .qm-info {
	color: #f00 !important;
}

.qm tbody tr td.qm-highlight,
.qm .qm-highlight td {
	background-color: #ffd !important;
}

.qm span.qm-expensive,
.qm td.qm-expensive {
	color: #f44 !important;
}

/* Filters */

select.qm-filter {
	display: block !important;
	font-family: Menlo, Monaco, Consolas, monospace !important;
	font-weight: normal !important;
	font-size: 10px !important;
	margin: 4px 0 2px !important;
	border: 1px solid #e6e6e6 !important;
	padding: 1px !important;
	background: #fff !important;
	color: #444 !important;
	height: 2em !important;
	width: auto !important;
	border-radius: 0 !important;
	float: none !important;
	cursor: pointer !important;
	text-transform: none !important;
	-webkit-appearance: menulist !important;
	-moz-appearance: menulist !important;
}

.qm-hide,
.qm-hide-name,
.qm-hide-type,
.qm-hide-caller,
.qm-hide-component {
	display: none !important;
}

/* Sorters */

.qm .qm-sort-controls {
	display: block !important;
	margin-top: 4px !important;
	text-align: center !important;
}

.qm .qm-sort {
	color: #ddd !important;
	display: block !important;
	font-size: 14px !important;
	line-height: 11px !important;
	text-decoration: none !important;
}

.qm .qm-sort:hover,
.qm .qm-sort:focus,
.qm .qm-sorted-asc .qm-sort-asc,
.qm .qm-sorted-desc .qm-sort-desc {
	color: #777 !important;
	text-decoration: none !important;
}

/* RTL */

html[dir="rtl"] .qm-ltr {
	direction: ltr !important;
	text-align: right !important;
}

html[dir="rtl"] body.wp-admin #qm {
	margin-right: 160px !important;
	margin-left: 0 !important;
}

@media all and (max-width: 782px) {
	html[dir="rtl"] body.wp-admin #qm {
		margin-right: 36px !important;
		margin-left: 0 !important;
	}
}

html[dir="rtl"] body.wp-admin.folded #qm {
	margin-right: 36px !important;
	margin-left: 0 !important;
}

html[dir="rtl"] #qm {
	text-align: right !important;
}

html[dir="rtl"] .qm td,
html[dir="rtl"] .qm th {
	text-align: right !important;
}

/* No-JS tweaks */

.qm-no-js #qm-authentication,
.qm-no-js .qm-sort-controls,
.qm-no-js a.qm-toggle,
.qm-no-js select.qm-filter {
	display: none !important;
}

/* Debug bar add-ons */

.qm-debug-bar textarea,
.qm-debug-bar pre {
	font-size: 11px !important;
	padding: 10px !important;
	border: 1px solid #e8e8e8 !important;
	margin: 4px 0 !important;
	color: inherit !important;
	background: transparent !important;
	font-family: Menlo, Monaco, Consolas, monospace !important;
}

.qm-debug-bar textarea {
	resize: vertical !important;
}

.qm-debug-bar .left {
	float: left !important;
}

.qm-debug-bar .right {
	float: right !important;
}

.qm-debug-bar h1, .qm-debug-bar h2, .qm-debug-bar h3 {
	font-family: Menlo, Monaco, Consolas, monospace !important;
	font-weight: normal !important;
}

.qm-debug-bar h2 {
	float: left !important;
	min-width: 150px !important;
	padding: 5px 10px 15px !important;
	clear: none !important;
	text-align: center !important;
	font-size: 16px !important;
	margin: 3px 8px 15px 0 !important;
}

.qm-debug-bar h2 span {
	font-size: 11px !important;
	white-space: nowrap !important;
	display: block !important;
	margin-bottom: 8px !important;
}

.qm-debug-bar h3 {
	margin: 15px 0 5px !important;
	font-size: 13px !important;
}

.qm-debug-bar .qm-debug-bar-output {
	position: relative !important;
}

.qm-debug-bar .qm-debug-bar-output table {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

#qm #debug-menu-target-Debug_Bar_Console {
	min-height: 400px !important;
}
