
// Main container
$qm-container-fg: #333 !default;
$qm-container-bg: #f3f3f3 !default;
$qm-container-overflow: #ececec !default;

// Panels
$qm-panel-border: #aaa !default;
$qm-panel-fg: $qm-container-fg !default;
$qm-panel-bg: #fff !default;
$qm-panel-separator: #ddd !default;

// Panel menus
$qm-panel-menu-border: #ddd !default;
$qm-panel-menu-fg: #333 !default;
$qm-panel-menu-bg: $qm-container-bg !default;
$qm-panel-menu-fg-hover: #333 !default;
$qm-panel-menu-bg-hover: #cde !default;
$qm-panel-menu-fg-current: #333 !default;
$qm-panel-menu-bg-current: #def !default;
$qm-panel-menu-bg-current-focus: #f7fbff !default;
$qm-panel-menu-fg-selected: #fff !default;
$qm-panel-menu-bg-selected: #0073aa !default;
$qm-panel-menu-bg-selected-focus: #0084c4 !default;
$qm-panel-menu-shadow: #006291 !default;

// Tables
$qm-cell-border: #e0e0e0 !default;
$qm-cell-bg-hover: #eef3fa !default;
$qm-cell-fg-highlight: $qm-container-fg !default;
$qm-cell-bg-highlight: #ffd !default;
$qm-cell-bg-highlight-dark: #ffffaa !default;
$qm-cell-bg-stripe: #f9f9f9 !default;
$qm-table-header-bg: #fff !default;
$qm-table-footer-bg: $qm-container-bg !default;

// Links and Buttons
$qm-link-fg: #0073aa !default;
$qm-link-fg-hover: #0096dd !default;
$qm-link-fg-active: #11b2ff !default;
$qm-button-fg: #fff !default;
$qm-button-bg: #007cba !default;
$qm-button-fg-hover: $qm-button-fg !default;
$qm-button-bg-hover: #0072ab !default;
$qm-button-fg-active: $qm-button-fg !default;
$qm-button-bg-active: #00689b !default;
$qm-title-button-fg: #666 !default;
$qm-title-button-bg: transparent !default;
$qm-title-button-fg-hover: #000 !default;
$qm-title-button-bg-hover: #e6e6e6 !default;
$qm-info-fg: #666 !default;

// Formatting
$qm-warn-fg: #900 !default;
$qm-warn-bg: #fff0f0 !default;
$qm-warn-bg-dark: #ffe8e8 !default;
$qm-warn-border: #ffd6d6 !default;
$qm-nonselect-fg: #a0a !default;
$qm-selection-fg: $qm-container-fg !default;
$qm-selection-bg: #B9D6FB !default;

$colours-default: (
	// Main container
	'container-fg': $qm-container-fg,
	'container-bg': $qm-container-bg,
	'container-overflow': $qm-container-overflow,

	// Panels
	'panel-border': $qm-panel-border,
	'panel-fg': $qm-panel-fg,
	'panel-bg': $qm-panel-bg,
	'panel-separator': $qm-panel-separator,

	// Panel menus
	'panel-menu-border': $qm-panel-menu-border,
	'panel-menu-fg': $qm-panel-menu-fg,
	'panel-menu-bg': $qm-panel-menu-bg,
	'panel-menu-fg-hover': $qm-panel-menu-fg-hover,
	'panel-menu-bg-hover': $qm-panel-menu-bg-hover,
	'panel-menu-fg-current': $qm-panel-menu-fg-current,
	'panel-menu-bg-current': $qm-panel-menu-bg-current,
	'panel-menu-bg-current-focus': $qm-panel-menu-bg-current-focus,
	'panel-menu-fg-selected': $qm-panel-menu-fg-selected,
	'panel-menu-bg-selected': $qm-panel-menu-bg-selected,
	'panel-menu-bg-selected-focus': $qm-panel-menu-bg-selected-focus,
	'panel-menu-shadow': $qm-panel-menu-shadow,

	// Tables
	'cell-border': $qm-cell-border,
	'cell-bg-hover': $qm-cell-bg-hover,
	'cell-fg-highlight': $qm-cell-fg-highlight,
	'cell-bg-highlight': $qm-cell-bg-highlight,
	'cell-bg-highlight-dark': $qm-cell-bg-highlight-dark,
	'cell-bg-stripe': $qm-cell-bg-stripe,
	'table-header-bg': $qm-table-header-bg,
	'table-footer-bg': $qm-table-footer-bg,

	// Links and Buttons
	'link-fg': $qm-link-fg,
	'link-fg-hover': $qm-link-fg-hover,
	'link-fg-active': $qm-link-fg-active,
	'button-fg': $qm-button-fg,
	'button-bg': $qm-button-bg,
	'button-fg-hover': $qm-button-fg-hover,
	'button-bg-hover': $qm-button-bg-hover,
	'button-fg-active': $qm-button-fg-active,
	'button-bg-active': $qm-button-bg-active,
	'title-button-fg': $qm-title-button-fg,
	'title-button-bg': $qm-title-button-bg,
	'title-button-fg-hover': $qm-title-button-fg-hover,
	'title-button-bg-hover': $qm-title-button-bg-hover,
	'info-fg': $qm-info-fg,

	// Formatting
	'warn-fg': $qm-warn-fg,
	'warn-bg': $qm-warn-bg,
	'warn-bg-dark': $qm-warn-bg-dark,
	'warn-border': $qm-warn-border,
	'nonselect-fg': $qm-nonselect-fg,
	'selection-fg': $qm-selection-fg,
	'selection-bg': $qm-selection-bg,
);

// The colours below are loosely based on the WordPress branding colours.
// https://make.wordpress.org/design/handbook/design-guide/foundations/colors/
$white:           #ffffff;
$black:           #000000;
$blue:            #0073aa;
$medium-blue:     #00a0d2;
$clear:           transparent;

$accent-red:      #dc3232;
$accent-orange:   #f56e28;
$accent-yellow:   #ffb900;
$accent-green:    #46b450;
$accent-blue:     $blue;
$accent-purple:   #826eb4;

$base-grey:       #23282d;
$light-grey:      #bbc8d4;
$heavy-grey:      #37444c;
$dark-grey:       #32373c;
$ultra-grey:      #191f25;
$dark-silver:     #50626f;
$base-blue:       #2e74aa;
$light-blue:      #4092d2;
$dark-blue:       #2c5f88;
$ultra-blue:      #1f3f58;
$bright-blue:     #30ceff;

$editor-lavender: #c678dd;
$editor-sunglo:   #e06c75;
$editor-olivine:  #98c379;

// Main container
$qm-dark-container-fg: #eaeef2 !default;
$qm-dark-container-bg: $dark-grey !default;
$qm-dark-container-overflow: $base-grey !default;

// Panels
$qm-dark-panel-border: $dark-silver !default;
$qm-dark-panel-fg: $qm-dark-container-fg !default;
$qm-dark-panel-bg: $base-grey !default;
$qm-dark-panel-separator: $dark-silver !default;

// Panel menus
$qm-dark-panel-menu-border: $dark-grey !default;
$qm-dark-panel-menu-fg: #eaeef2 !default;
$qm-dark-panel-menu-bg: $base-grey !default;
$qm-dark-panel-menu-fg-hover: $light-grey !default;
$qm-dark-panel-menu-bg-hover: #3e444a !default;
$qm-dark-panel-menu-fg-current: #eaeef2 !default;
$qm-dark-panel-menu-bg-current: $dark-grey !default;
$qm-dark-panel-menu-bg-current-focus: #3e444a !default;
$qm-dark-panel-menu-fg-selected: #fff !default;
$qm-dark-panel-menu-bg-selected: #0073aa !default;
$qm-dark-panel-menu-bg-selected-focus: #0084c4 !default;
$qm-dark-panel-menu-shadow: #006291 !default;

// Tables
$qm-dark-cell-border: $base-grey !default;
$qm-dark-cell-bg-hover: #373c42 !default;
$qm-dark-cell-fg-highlight: $qm-dark-container-fg !default;
$qm-dark-cell-bg-highlight: #57572a !default;
$qm-dark-cell-bg-highlight-dark: #353519 !default;
$qm-dark-cell-bg-stripe: $dark-grey !default;
$qm-dark-table-header-bg: $dark-grey !default;
$qm-dark-table-footer-bg: $dark-grey !default;

// Links and Buttons
$qm-dark-link-fg: $bright-blue !default;
$qm-dark-link-fg-hover: $light-blue !default;
$qm-dark-link-fg-active: #69aadc !default;
$qm-dark-button-fg: #fff !default;
$qm-dark-button-bg: #0085ba !default;
$qm-dark-button-fg-hover: $qm-dark-button-fg !default;
$qm-dark-button-bg-hover: #007aab !default;
$qm-dark-button-fg-active: $qm-dark-button-fg !default;
$qm-dark-button-bg-active: #006f9b !default;
$qm-dark-title-button-fg: $light-grey !default;
$qm-dark-title-button-bg: transparent !default;
$qm-dark-title-button-fg-hover: $dark-grey !default;
$qm-dark-title-button-bg-hover: $light-grey !default;
$qm-dark-info-fg: #aaa !default;

// Formatting
$qm-dark-warn-fg: #fff0f0 !default;
$qm-dark-warn-bg: #622 !default;
$qm-dark-warn-bg-dark: #6c2424 !default;
$qm-dark-warn-border: #ffd6d6 !default;
$qm-dark-nonselect-fg: #a6a !default;
$qm-dark-selection-fg: $dark-grey !default;
$qm-dark-selection-bg: #B9D6FB !default;

$colours-dark: (
	// Main container
	'container-fg': $qm-dark-container-fg,
	'container-bg': $qm-dark-container-bg,
	'container-overflow': $qm-dark-container-overflow,

	// Panels
	'panel-border': $qm-dark-panel-border,
	'panel-fg': $qm-dark-panel-fg,
	'panel-bg': $qm-dark-panel-bg,
	'panel-separator': $qm-dark-panel-separator,

	// Panel menus
	'panel-menu-border': $qm-dark-panel-menu-border,
	'panel-menu-fg': $qm-dark-panel-menu-fg,
	'panel-menu-bg': $qm-dark-panel-menu-bg,
	'panel-menu-fg-hover': $qm-dark-panel-menu-fg-hover,
	'panel-menu-bg-hover': $qm-dark-panel-menu-bg-hover,
	'panel-menu-fg-current': $qm-dark-panel-menu-fg-current,
	'panel-menu-bg-current': $qm-dark-panel-menu-bg-current,
	'panel-menu-bg-current-focus': $qm-dark-panel-menu-bg-current-focus,
	'panel-menu-fg-selected': $qm-dark-panel-menu-fg-selected,
	'panel-menu-bg-selected': $qm-dark-panel-menu-bg-selected,
	'panel-menu-bg-selected-focus': $qm-dark-panel-menu-bg-selected-focus,
	'panel-menu-shadow': $qm-dark-panel-menu-shadow,

	// Tables
	'cell-border': $qm-dark-cell-border,
	'cell-bg-hover': $qm-dark-cell-bg-hover,
	'cell-fg-highlight': $qm-dark-cell-fg-highlight,
	'cell-bg-highlight': $qm-dark-cell-bg-highlight,
	'cell-bg-highlight-dark': $qm-dark-cell-bg-highlight-dark,
	'cell-bg-stripe': $qm-dark-cell-bg-stripe,
	'table-header-bg': $qm-dark-table-header-bg,
	'table-footer-bg': $qm-dark-table-footer-bg,

	// Links and Buttons
	'link-fg': $qm-dark-link-fg,
	'link-fg-hover': $qm-dark-link-fg-hover,
	'link-fg-active': $qm-dark-link-fg-active,
	'button-fg': $qm-dark-button-fg,
	'button-bg': $qm-dark-button-bg,
	'button-fg-hover': $qm-dark-button-fg-hover,
	'button-bg-hover': $qm-dark-button-bg-hover,
	'button-fg-active': $qm-dark-button-fg-active,
	'button-bg-active': $qm-dark-button-bg-active,
	'title-button-fg': $qm-dark-title-button-fg,
	'title-button-bg': $qm-dark-title-button-bg,
	'title-button-fg-hover': $qm-dark-title-button-fg-hover,
	'title-button-bg-hover': $qm-dark-title-button-bg-hover,
	'info-fg': $qm-dark-info-fg,

	// Formatting
	'warn-fg': $qm-dark-warn-fg,
	'warn-bg': $qm-dark-warn-bg,
	'warn-bg-dark': $qm-dark-warn-bg-dark,
	'warn-border': $qm-dark-warn-border,
	'nonselect-fg': $qm-dark-nonselect-fg,
	'selection-fg': $qm-dark-selection-fg,
	'selection-bg': $qm-dark-selection-bg,
);

// === Functions ===

@function map-get-strict($map, $key) {
	@if map-has-key($map, $key) {
		@return map-get($map, $key);
	} @else {
		@error "Index '#{$key}' does not exist";
	}
}

// === Admin Menu ===

$qm-menu-icon: #aaa;
$qm-menu-alert-bg: #f60 !default;
$qm-menu-notice-bg: #740 !default;
$qm-menu-notice-bg-hover: #5e3500 !default;
$qm-menu-expensive-bg: #b60 !default;
$qm-menu-warning-bg: #c00 !default;
$qm-menu-warning-bg-hover: #b30000 !default;
$qm-menu-fg: #eee !default;
$qm-menu-true-fg: #8c8 !default;
$qm-menu-true-fg-hover: #47a747 !default;

// === Properties ===

#query-monitor-main[data-theme="light"] {
	@each $var, $colour in $colours-default {
		--qm-#{$var}: #{$colour};
	}
}

#query-monitor-main[data-theme="dark"] {
	@each $var, $colour in $colours-default {
		--qm-#{$var}: #{ map-get-strict( $colours-dark, $var ) };
	}
}

// === Admin Toolbar ===

#wpadminbar {
	.quicklinks .menupop ul li.qm-true > a {
		color: $qm-menu-true-fg !important;

		&:focus,
		&:hover {
			color: $qm-menu-true-fg-hover !important;
		}
	}

	.qm-alert {
		background-color: $qm-menu-alert-bg;
	}

	#wp-admin-bar-query-monitor-doing_it_wrong a,
	#wp-admin-bar-query-monitor-stricts a,
	#wp-admin-bar-query-monitor-deprecateds a,
	#wp-admin-bar-query-monitor-notices a,
	.qm-strict,
	.qm-deprecated,
	.qm-notice {
		background-color: $qm-menu-notice-bg;

		&:focus,
		&:hover {
			background-color: $qm-menu-notice-bg-hover;
		}
	}

	#wp-admin-bar-query-monitor-expensive a,
	.qm-expensive {
		background-color: $qm-menu-expensive-bg;

		&:focus,
		&:hover {
			background-color: #a25800;
		}
	}

	#wp-admin-bar-query-monitor-logger-warning a,
	#wp-admin-bar-query-monitor-warnings a,
	#wp-admin-bar-query-monitor-errors a,
	.qm-error,
	.qm-warning {
		background-color: $qm-menu-warning-bg;

		&:focus,
		&:hover {
			background-color: $qm-menu-warning-bg-hover;
		}
	}

	#wp-admin-bar-query-monitor .ab-icon {
		color: $qm-menu-icon !important;
		display: none !important;
		font: 18px/44px Arial !important;
		padding: 0 10px !important;
		width: auto !important;
	}

	@media screen and (max-width: 782px) {
		// force menu icon to show up
		#wp-admin-bar-query-monitor .ab-icon {
			display: block !important;
		}
		// hide menu text
		#wp-admin-bar-query-monitor .ab-label {
			display: none !important;
		}
	}
}

#wp-admin-bar-query-monitor *,
#wp-admin-bar-query-monitor {
	direction: ltr !important;
	text-align: left !important;
}

body.admin-color-light #wp-admin-bar-query-monitor:not(.qm-all-clear):not(:hover):not(.hover) .ab-label,
#wp-admin-bar-query-monitor-default .qm-alert a,
#wp-admin-bar-query-monitor-default .qm-error a,
#wp-admin-bar-query-monitor-default .qm-warning a,
#wp-admin-bar-query-monitor-doing_it_wrong a,
#wp-admin-bar-query-monitor-deprecateds a,
#wp-admin-bar-query-monitor-stricts a,
#wp-admin-bar-query-monitor-notices a,
#wp-admin-bar-query-monitor-expensive a,
#wp-admin-bar-query-monitor-logger-warning a,
#wp-admin-bar-query-monitor-warnings a,
#wp-admin-bar-query-monitor-errors a {
	color: $qm-menu-fg !important;
}

#wp-admin-bar-query-monitor small {
	font-size: 11px !important;
}

#wp-admin-bar-query-monitor.hover a small,
#wp-admin-bar-query-monitor.hover a .ab-label {
	text-shadow: none !important;
}

// === Main QM Panel ===

@mixin qm-narrow() {
	#qm-panel-menu,
	#qm-title h1.qm-title-heading {
		display: none;
	}

	#qm-title div.qm-title-heading {
		display: block;
	}
}

@mixin global-reset {
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	box-sizing: border-box !important;
	clear: both !important;
	color: var( --qm-container-fg ) !important;
	float: none !important;
	font-family: var( --qm-font-default-face ) !important;
	font-size: var( --qm-font-default-size ) !important;
	-webkit-font-smoothing: auto !important;
	font-style: normal !important;
	font-weight: normal !important;
	letter-spacing: -0.1px !important;
	line-height: var( --qm-font-default-line-height ) !important;
	margin: 0 !important;
	min-height: auto !important;
	outline: none !important;
	padding: 0 !important;
	text-align: left !important;
	text-decoration: none !important;
	text-indent: 0 !important;
	text-shadow: none !important;
	text-transform: none !important;
	transition: none !important;
	vertical-align: baseline !important;
	word-break: normal !important;
	word-wrap: normal !important;

	&::before,
	&::after {
		display: none !important;
	}
}

#qm-icon-container {
	display: none !important;
}

#query-monitor-main {
	// === Fonts ===
	--qm-font-default-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--qm-font-default-size: 12px;
	--qm-font-default-line-height: 18px;
	--qm-font-code-face: Menlo, Monaco, Consolas, monospace;
	--qm-font-code-size: 11px;
	--qm-font-code-line-height: 20px;

	// === Everything else ===
	--qm-admin-toolbar-height: 32px;

	dl,
	dt,
	dd,
	button,
	caption,
	label,
	select,
	table,
	td,
	th,
	ul,
	ol,
	li,
	code,
	pre,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	section,
	nav,
	p {
		@include global-reset;

		width: auto !important;
	}

	& {
		@include global-reset;

		background: var( --qm-panel-bg ) !important;
		border-top: 1px solid var( --qm-panel-border ) !important;
		bottom: 0 !important;
		contain: layout paint;
		direction: ltr !important;
		height: 50%;
		left: 0 !important;
		margin: 0 !important;
		position: fixed;
		right: 0 !important;
		text-align: left !important;
		z-index: 99998 !important;
	}

	::selection {
		background-color: var( --qm-selection-bg ) !important;
		color: var( --qm-selection-fg ) !important;
	}

	strong,
	b {
		font-weight: bold !important;
	}

	em,
	i {
		font-style: italic !important;
	}

	&.qm-show {
		display: flex;
		flex-direction: column !important;
		height: 60%;
		width: 60%;
	}

	&:not(.qm-show-right) {
		width: 100% !important;
	}

	&.qm-show-right {
		height: calc( 100vh - var( --qm-admin-toolbar-height ) ) !important;
		top: var( --qm-admin-toolbar-height ) !important;
		left: unset !important;
		border-top: 0 !important;
		border-left: 1px solid var( --qm-panel-border ) !important;

		@include qm-narrow();

		#qm-title {
			cursor: default !important;
		}

		#qm-side-resizer {
			background: transparent !important;
			cursor: ew-resize !important;
			display: block !important;
			height: 100% !important;
			position: absolute !important;
			left: -2px !important;
			top: 0 !important;
			width: 4px !important;
			z-index: 2 !important;
		}
	}

	#qm-wrapper {
		display: flex;
		flex-grow: 1 !important;
		/* Fix nested scrolling in Firefox. See https://bugzilla.mozilla.org/show_bug.cgi?id=1043520: */
		min-height: 0;
	}

	#qm-title {
		align-items: center !important;
		background: var( --qm-container-bg ) !important;
		border-bottom: 1px solid var( --qm-panel-border ) !important;
		cursor: ns-resize !important;
		display: flex !important;
		flex-shrink: 0 !important;
		height: 27px !important;
		padding: 0 0 0 10px !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		-webkit-user-select: none !important;
		user-select: none !important;

		.qm-title-heading {
			border-right: 1px solid #bbb !important;
			flex-grow: 1 !important;
			margin-right: 6px !important;
		}

		div.qm-title-heading {
			display: none;
		}

		button {
			flex-shrink: 0 !important;
		}

		.qm-icon {
			display: inline-block !important;
			height: 20px !important;
			width: 20px !important;
			fill: var( --qm-title-button-fg ) !important;
		}

		.qm-button-container-close {
			margin-right: 10px !important;

			.qm-icon {
				margin: 4px 0 0 !important;
				width: 18px !important;
				height: 18px !important;
			}
		}

		.qm-button-container-position {
			transform: scaleX(-1) rotate(90deg) !important;
			padding-top: 5px !important;

			.qm-icon {
				width: 14px !important;
				height: 14px !important;
			}
		}

		.qm-button-container-settings {
			.qm-icon {
				margin: 4px 0 0 !important;
				width: 16px !important;
				height: 16px !important;
			}
		}

		@media screen and (max-width: 960px) {
			.qm-button-container-position {
				display: none !important;
			}
		}

		button {
			background: var( --qm-title-button-bg ) !important;
			cursor: pointer !important;
			display: inline-block !important;
			margin: 0 !important;
			min-width: auto !important;
			padding: 0 5px !important;
		}

		button:focus *,
		button:hover *,
		button:focus,
		button:hover {
			background: var( --qm-title-button-bg-hover ) !important;

			svg {
				fill: var( --qm-title-button-fg-hover ) !important;
			}
		}

		button:active *,
		button:active {
			background: #ccc !important;
		}
	}

	&.qm-show-right #qm-title .qm-button-container-position .qm-icon {
		margin: 4px 1px 0 1px !important;
		transform: none !important;
	}

	#qm-panel-menu {
		background: var( --qm-container-overflow ) !important;
		flex-shrink: 0 !important;
		overflow-y: scroll !important;
		overscroll-behavior: contain !important;
		height: auto !important;
		min-width: 160px !important;

		ul {
			display: block !important;
			list-style: none !important;
			margin: 0 !important;
			padding: 0 !important;
			width: auto !important;
			height: auto !important;
		}

		li {
			display: list-item !important;
			margin: 0 !important;
			padding: 0 !important;
			height: auto !important;

			ul {
				display: none !important;
			}
		}

		li button {
			background: var( --qm-panel-menu-bg ) !important;
			border-bottom: 1px solid var( --qm-panel-menu-border ) !important;
			border-right: 1px solid var( --qm-panel-border ) !important;
			color: var( --qm-panel-menu-fg ) !important;
			cursor: pointer !important;
			display: block !important;
			padding: 7px 32px 7px 10px !important;
			position: relative !important;
			text-decoration: none !important;
			width: 100% !important;
		}

		li button:focus,
		li button:hover {
			background: var( --qm-panel-menu-bg-hover ) !important;
			color: var( --qm-panel-menu-fg-hover ) !important;
		}

		li button:focus {
			text-decoration: underline !important;
		}

		li button:active {
			text-decoration: none !important;
			background: var( --qm-panel-menu-bg-selected ) !important;
			color: var( --qm-panel-menu-fg-selected ) !important;
			text-shadow: 0 -1px 1px var( --qm-panel-menu-shadow ), 1px 0 1px var( --qm-panel-menu-shadow ), 0 1px 1px var( --qm-panel-menu-shadow ), -1px 0 1px var( --qm-panel-menu-shadow ) !important;
		}

		li.qm-current-menu {
			ul {
				display: block !important;
			}

			button {
				background: var( --qm-panel-menu-bg-current ) !important;
				color: var( --qm-panel-menu-fg-current ) !important;

				&:focus {
					background: var( --qm-panel-menu-bg-current-focus ) !important;
					color: var( --qm-panel-menu-fg-current ) !important;
				}

				&:hover {
					background: var( --qm-panel-menu-bg-hover ) !important;
					color: var( --qm-panel-menu-fg-hover ) !important;
				}
			}
		}

		li li button {
			&::before {
				content: "\2514" !important;
				display: inline-block !important;
				margin-right: 5px !important;
			}
		}

		li button[aria-selected="true"] {
			background: var( --qm-panel-menu-bg-selected ) !important;
			color: var( --qm-panel-menu-fg-selected ) !important;
			text-shadow: 0 -1px 1px var( --qm-panel-menu-shadow ), 1px 0 1px var( --qm-panel-menu-shadow ), 0 1px 1px var( --qm-panel-menu-shadow ), -1px 0 1px var( --qm-panel-menu-shadow ) !important;

			&:focus {
				background: var( --qm-panel-menu-bg-selected-focus ) !important;
				color: var( --qm-panel-menu-fg-selected ) !important;
			}

			&:hover {
				background: var( --qm-panel-menu-bg-selected ) !important;
				color: var( --qm-panel-menu-fg-selected ) !important;
			}

			&:after {
				border: solid 8px transparent;
				border-right-color: var( --qm-panel-bg );
				content: " ";
				display: inline-block !important;
				height: 0;
				margin-top: -8px;
				pointer-events: none;
				position: absolute;
				right: -1px;
				top: 50%;
				width: 0;
			}
		}
	}

	#qm-panels {
		flex-grow: 1 !important;
		overflow-y: scroll !important;
		overscroll-behavior: contain !important;
	}

	.qm:focus {
		outline: 0 !important; /* @TODO might not need this any more */
	}

	.qm-boxed {
		display: flex !important;
		flex-wrap: wrap !important;

		& + .qm-grid,
		& + .qm-boxed {
			border-top: 1px solid var( --qm-panel-separator ) !important;
			padding-top: 10px !important;
		}
	}

	.qm-grid {
		display: flex !important;
		flex-wrap: wrap !important;

		section {
			width: 22em !important;
		}
	}

	.qm {
		.qm-none {
			margin: 2em !important;
		}

		.qm-none p {
			font-style: italic !important;
			text-align: center !important;
		}

		table {
			border: none !important;
			border-collapse: collapse !important;
			box-shadow: 0 1px 0 0 var( --qm-panel-border ) !important;
			color: var( --qm-panel-fg ) !important;
			margin: 0 !important;
			table-layout: auto !important;
			width: 100% !important;
		}

		table + table {
			border-top: 1px solid var( --qm-cell-border ) !important;
			margin-top: 5px !important;
		}

		thead,
		tbody,
		tfoot {
			border: none !important;
			background-color: inherit !important;
		}

		tr {
			border: none !important;
			background-color: inherit !important;
		}

		tbody th,
		tbody td,
		tfoot th,
		tfoot td {
			border: 1px solid var( --qm-cell-border ) !important;
			padding: 6px 6px 5px 6px !important;
			vertical-align: top !important;
		}

		tbody th,
		tbody td {
			border-bottom: none !important;
			border-top: none !important;
		}

		thead th {
			background: var( --qm-table-header-bg ) !important;
			border: 1px solid var( --qm-cell-border ) !important;
			border-top: none !important;
			box-shadow: 0 1px 0 var( --qm-cell-border ) !important;
			padding: 5px 5px 5px 6px !important;
			position: -webkit-sticky !important;
			position: sticky !important;
			top: 0 !important;
			z-index: 1 !important;
		}

		thead th,
		thead td {
			vertical-align: top !important;
		}

		thead .qm-th {
			display: flex !important;
		}

		tfoot tr td,
		tfoot tr th {
			background: var( --qm-table-footer-bg ) !important;
			border: none !important;
			bottom: 0 !important;
			box-shadow: inset 0 1px 0 var( --qm-cell-border ) !important;
			position: -webkit-sticky !important;
			position: sticky !important;
		}

		th:first-child,
		td:first-child {
			border-left: none !important;
		}

		th:last-child,
		td:last-child {
			border-right: none !important;
		}

		tfoot td.qm-num,
		tfoot th.qm-num,
		thead td.qm-num,
		thead th.qm-num {
			width: 5.5em !important;
		}

		th.qm-num,
		td.qm-num {
			text-align: right !important;
		}

		td.qm-num {
			font-family: var( --qm-font-code-face ) !important;
			font-size: var( --qm-font-code-size ) !important;
			line-height: var( --qm-font-code-line-height ) !important;
		}

		td.qm-row-sql {
			min-width: 25em !important;
		}

		td.qm-row-block-attrs,
		td.qm-row-block-context,
		td.qm-row-block-html {
			max-width: 40em !important;
		}

		td.qm-row-block-attrs,
		td.qm-row-block-context,
		td.qm-row-block-html,
		tr.qm-warn td.qm-col-status,
		td.qm-url,
		th.qm-col-message,
		td.qm-row-component {
			min-width: 15em !important;
		}

		td.qm-has-toggle {
			padding-right: 28px !important;
			position: relative !important;
		}

		.qm-inner-toggle {
			padding: 4px 6px !important;
		}

		.qm-has-inner .qm-toggled > table {
			border-bottom: none !important;
			border-top: 1px solid var( --qm-cell-border ) !important;
		}

		td.qm-has-inner .qm-toggler,
		td.qm-has-inner {
			padding: 0 !important;
		}

		caption h2 {
			font-size: 14px !important;
			margin: 20px !important;
		}
	}

	.qm-concerns table {
		border-top: 1px solid var( --qm-cell-border ) !important;
		margin-bottom: 20px !important;
	}

	.qm-non-tabular {
		padding: 10px 20px !important;

		h3 {
			font-size: 14px !important;
			margin: 0 0 15px 0 !important;
		}

		h4 {
			font-size: 12px !important;
			margin: 20px 0 10px !important;
		}

		p {
			margin-bottom: 10px !important;
		}

		dl {
			display: flex !important;
			flex-wrap: wrap !important;
			max-width: 60em !important;
		}

		dt {
			border-top: 1px solid var( --qm-panel-separator ) !important;
			flex-grow: 0;
			flex: 1 0 16em;
			padding: 10px 10px 10px 0 !important;
		}

		dd {
			border-top: 1px solid var( --qm-panel-separator ) !important;
			flex: 1 0 calc(100% - 10px - 16em);
			padding: 10px 0 !important;
		}

		section,
		.qm-section {
			margin: 0 0 30px 0 !important;
		}

		.qm-grid section,
		.qm-boxed section,
		.qm-boxed .qm-section {
			border-right: 1px solid var( --qm-panel-separator ) !important;
			margin: 0 20px 10px 0 !important;
			padding: 10px 20px 10px 0 !important;

			&:last-child {
				border-right: none !important;
				margin-right: 0 !important;
			}
		}

		table {
			border-bottom-color: var( --qm-cell-border ) !important;
		}

		.qm-full-width {
			border-top: 1px solid var(--qm-cell-border) !important;
			margin-right: -20px !important;
			margin-left: -20px !important;
			width: calc( 100% + 40px ) !important;
		}
	}

	#qm-conditionals li {
		display: inline-block !important;
		margin: 0 20px 5px 0 !important;
	}

	.qm ol,
	.qm ul {
		list-style: none !important;
	}

	.qm li {
		display: list-item !important;
		list-style: none !important;
		line-height: 20px !important;

		&::before {
			content: '' !important;
		}
	}

	.qm code,
	.qm pre {
		font-family: var( --qm-font-code-face ) !important;
		font-size: var( --qm-font-code-size ) !important;
		line-height: var( --qm-font-code-line-height ) !important;
	}

	.qm pre {
		background: transparent !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		width: auto !important;
	}

	.qm .qm-true code,
	.qm p.qm-true,
	.qm span.qm-true,
	.qm td.qm-true {
		/* @TODO */
		color: #282 !important;
	}

	.qm .qm-false code,
	.qm span.qm-false,
	.qm td.qm-false {
		/* @TODO */
		color: #767676 !important;
	}

	.qm .qm-num,
	.qm code,
	.qm .qm-nowrap {
		white-space: nowrap !important;
	}

	.qm .qm-wrap code,
	.qm .qm-wrap {
		white-space: normal !important;
		word-break: break-all !important;
		word-wrap: break-word !important;
	}

	.qm .qm-pre-wrap code {
		white-space: pre-wrap !important;
		word-break: break-all !important;
		word-wrap: break-word !important;
	}

	.qm .qm-sticky {
		position: sticky !important;
		top: 36px !important;
	}

	.qm .qm-current,
	.qm td.qm-has-toggle p,
	.qm .qm-nonselectsql code,
	.qm .qm-nonselectsql {
		color: var( --qm-nonselect-fg ) !important;
	}

	.qm .qm-info {
		color: var( --qm-info-fg ) !important;
	}

	.qm .qm-supplemental {
		margin-left: 0.75em !important;
		margin-right: 0.75em !important;
	}

	.qm button.qm-button,
	.qm .qm-toggle {
		background: var( --qm-button-bg ) !important;
		border: 1px solid var( --qm-button-bg ) !important;
		border-radius: 3px !important;
		color: var( --qm-button-fg ) !important;
		cursor: pointer !important;
		font-weight: normal !important;
		text-shadow: none !important;
	}

	.qm .qm-toggle {
		bottom: auto !important;
		font-family: var( --qm-font-code-face ) !important;
		height: 18px !important;
		left: auto !important;
		line-height: 16px !important;
		padding: 0 !important;
		position: absolute !important;
		right: 5px !important;
		text-align: center !important;
		top: 5px !important;
		user-select: none;
		width: 18px !important;
	}

	.qm button {
		cursor: pointer !important;
	}

	.qm button.qm-button {
		padding: 4px 10px !important;
	}

	.qm .qm-has-inner .qm-toggle {
		right: 5px !important;
		top: 5px !important;
	}

	.qm button.qm-button:hover,
	.qm .qm-toggle:hover {
		background: var( --qm-button-bg-hover ) !important;
		border-color: var( --qm-button-bg-hover ) !important;
		color: var( --qm-button-fg-hover ) !important;
		text-decoration: none !important;
	}

	.qm button.qm-button:focus,
	.qm .qm-toggle:focus {
		background: var( --qm-button-bg-hover ) !important;
		border-color: var( --qm-button-bg-hover ) !important;
		color: var( --qm-button-fg-hover ) !important;
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px var( --qm-button-bg-hover ) !important;
	}

	.qm button.qm-button:active,
	.qm .qm-toggle:active {
		background: var( --qm-button-bg-active ) !important;
		border-color: var( --qm-button-bg-active ) !important;
		color: var( --qm-button-fg-active ) !important;
		box-shadow: none !important;
	}

	.qm input[type="radio"].qm-radio,
	.qm input[type="radio"].qm-radio:checked,
	.qm input[type="radio"].qm-radio:focus,
	.qm input[type="radio"].qm-radio:checked:focus,
	.qm input[type="radio"].qm-radio:hover,
	.qm input[type="radio"].qm-radio:checked:hover {
		all: revert !important;
		accent-color: var( --qm-button-bg ) !important;

		&::before,
		&::after {
			display: none !important;
		}
	}

	.qm tbody tr:nth-child(odd) td,
	.qm tbody tr:nth-child(odd) th {
		background: var( --qm-cell-bg-stripe ) !important;
	}

	.qm-non-tabular .qm-warn,
	.qm thead tr .qm-warn,
	.qm tbody tr .qm-warn {
		background-color: var( --qm-warn-bg ) !important;
		color: var( --qm-warn-fg ) !important;

		.qm-icon {
			fill: var( --qm-warn-fg ) !important;
		}
	}

	.qm tbody tr th.qm-warn,
	.qm tbody tr td.qm-warn,
	.qm tbody tr.qm-warn td,
	.qm tbody tr.qm-warn th {
		background-color: var( --qm-warn-bg ) !important;
		color: var( --qm-warn-fg ) !important;

		.qm-icon {
			fill: var( --qm-warn-fg ) !important;
		}
	}

	.qm tbody tr:nth-child(odd) th.qm-warn,
	.qm tbody tr:nth-child(odd) td.qm-warn,
	.qm tbody tr:nth-child(odd).qm-warn td,
	.qm tbody tr:nth-child(odd).qm-warn th {
		background-color: var( --qm-warn-bg-dark ) !important;
	}

	.qm-non-tabular .qm-warn code,
	.qm tbody .qm-warn li,
	.qm tbody .qm-warn .qm-info,
	.qm tbody .qm-warn code {
		background-color: transparent !important;
		color: var( --qm-warn-fg ) !important;

		.qm-icon {
			fill: var( --qm-warn-fg ) !important;
		}
	}

	.qm .qm-notice {
		background: var( --qm-panel-menu-bg-current ) !important;
		border: 1px solid var( --qm-panel-menu-bg-hover ) !important;
		margin: 0 0 10px 0 !important;
		max-width: 40em !important;
		padding: 10px 20px 0 !important;
	}

	.qm .qm-error {
		background: #fee !important;
		border: 1px solid #f44 !important;
		margin: 0 0 10px 0 !important;
		padding: 10px 20px !important;
	}

	.qm .qm-icon {
		margin-right: 0.3em !important;
		display: inline-block !important;
		height: 16px !important;
		width: 16px !important;
		height: 16px !important;
		width: 16px !important;
		fill: var( --qm-container-fg ) !important;
		vertical-align: top !important;
	}

	.qm .qm-icon-yes-alt {
		fill: #0a0 !important;
	}

	.qm tbody tr td.qm-highlight,
	.qm tbody tr.qm-highlight th,
	.qm tbody tr.qm-highlight td {
		background-color: var( --qm-cell-bg-highlight ) !important;
		color: var( --qm-cell-fg-highlight ) !important;
	}

	.qm tbody tr:nth-child(odd) td.qm-highlight,
	.qm tbody tr:nth-child(odd).qm-highlight th,
	.qm tbody tr:nth-child(odd).qm-highlight td {
		background-color: #ffffc9 !important;
		color: var( --qm-cell-fg-highlight ) !important;
	}

	.qm tbody tr:nth-child(odd).qm-hovered th,
	.qm tbody tr:nth-child(odd).qm-hovered td,
	.qm tbody tr:nth-child(odd):hover th,
	.qm tbody tr:nth-child(odd):hover td,
	.qm tbody tr.qm-hovered th,
	.qm tbody tr.qm-hovered td,
	.qm tbody tr:hover th,
	.qm tbody tr:hover td {
		background: var( --qm-cell-bg-hover ) !important;
	}

	.qm thead th.qm-filtered select.qm-filter {
		background-color: var( --qm-cell-bg-highlight ) !important;
		color: var( --qm-cell-fg-highlight ) !important;
	}

	.qm button.qm-filter-trigger,
	.qm button.qm-filter-trigger code,
	.qm tbody .qm-warn a code,
	.qm a code,
	.qm a {
		color: var( --qm-link-fg ) !important;
		cursor: pointer !important;
		text-decoration: none !important;

		&:after,
		&:focus,
		&:hover {
			color: var( --qm-link-fg-hover ) !important;
			text-decoration: underline !important;
		}

		&:active {
			color: var( --qm-link-fg-active ) !important;
			text-decoration: underline !important;
		}
	}

	.qm a.qm-external-link,
	.qm a.qm-link,
	.qm a.qm-edit-link,
	.qm button.qm-filter-trigger {
		svg {
			fill: var( --qm-link-fg-hover ) !important;
			width: 16px;
			height: 16px;
			left: 2px !important;
			position: relative !important;
			text-decoration: none !important;
			top: 2px !important;
			visibility: hidden !important;
		}
	}

	.qm a.qm-external-link,
	.qm a.qm-link:hover,
	.qm a.qm-link:focus,
	.qm a.qm-edit-link:hover,
	.qm a.qm-edit-link:focus,
	.qm button.qm-filter-trigger:hover,
	.qm button.qm-filter-trigger:focus {
		svg {
			visibility: visible !important;
		}
	}

	#qm-ajax-errors {
		display: none;
	}

	// Filters

	button,
	select {
		background: none !important;
		cursor: pointer !important;
		height: auto !important;
		margin: 0 !important;
		width: auto !important;
	}

	.qm label {
		color: var( --qm-panel-fg ) !important;
		cursor: pointer !important;
		font-size: 12px !important;
		font-style: normal !important;
		font-weight: normal !important;
		margin: 0 !important;
	}

	.qm thead label {
		flex-grow: 1 !important;
	}

	.qm .qm-filter-container {
		display: flex !important;
	}

	.qm .qm-filter-container label {
		cursor: default !important;
		white-space: nowrap !important;
	}

	.qm .qm-filter-container div {
		/* Some themes use Select2 etc on all selects. This hides that. */
		display: none !important;
	}

	.qm-title-heading select,
	.qm select.qm-filter {
		-webkit-appearance: menulist !important;
		-moz-appearance: menulist !important;
		appearance: menulist !important;
		background: var( --qm-table-header-bg ) !important;
		border: none !important;
		color: var( --qm-panel-fg ) !important;
		cursor: pointer !important;
		display: block !important;
		float: none !important;
		height: auto !important;
		letter-spacing: -0.1px !important;
		margin: 0 0 0 5px !important;
		max-width: 12em !important;
		outline: 1px solid var( --qm-panel-border ) !important;
		padding: 0 !important;
		width: auto !important;
	}

	.qm-title-heading select {
		max-width: unset !important;
	}

	.qm select.qm-filter:hover {
		background: var( --qm-cell-bg-hover ) !important;
	}

	.qm-hide,
	.qm-hide-scripts-dependencies,
	.qm-hide-styles-dependencies,
	.qm-hide-scripts-dependents,
	.qm-hide-styles-dependents,
	.qm-hide-scripts-host,
	.qm-hide-styles-host,
	.qm-hide-user,
	.qm-hide-result,
	.qm-hide-name,
	.qm-hide-type,
	.qm-hide-caller,
	.qm-hide-component,
	.qm-hide-host {
		display: none !important;
	}

	// Sorters

	.qm thead th.qm-sortable-column {
		cursor: pointer !important;

		&:hover {
			background: var( --qm-container-bg ) !important;
		}
	}

	.qm .qm-sort-heading {
		flex-grow: 1 !important;
	}

	.qm .qm-sort-controls {
		flex-shrink: 0 !important;
		text-align: right !important;

		.qm-icon {
			margin-right: 0 !important;
			fill: #ccc !important;
		}
	}

	.qm .qm-sorted-desc .qm-sort-controls,
	.qm .qm-sorted-asc .qm-sort-controls {
		svg {
			fill: var( --qm-container-fg ) !important;
		}
	}

	.qm thead th.qm-sortable-column:hover .qm-sort-controls {
		svg {
			fill: var( --qm-panel-menu-bg-selected ) !important;
		}
	}

	.qm .qm-sortable-column.qm-sorted-asc .qm-sort-controls {
		transform: scaleY(-1) !important;
	}

	.qm button:focus,
	.qm a:focus,
	.qm select:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px var( --qm-button-bg-hover ) !important;
	}

	.qm button:active,
	.qm a:active,
	.qm select:active {
		box-shadow: none !important;
	}

	.qm-screen-reader-text,
	.screen-reader-text {
		border: 0 !important;
		clip: rect(0 0 0 0) !important;
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}

	@media screen and (max-width: 782px) {
		@include qm-narrow();
	}

	// State Toggle

	[data-qm-state="off"] [data-qm-state-visibility="on"],
	[data-qm-state="on"] [data-qm-state-visibility="off"] {
		display: none;
	}

	// Debug bar add-ons

	.qm.qm-debug-bar {
		textarea,
		pre {
			border: 1px solid var( --qm-panel-separator ) !important;
			margin: 4px 0 !important;
			padding: 10px !important;
		}

		textarea {
			resize: vertical !important;
		}

		.left {
			float: left !important;
		}

		.right {
			float: right !important;
		}

		h2 {
			font-size: 14px !important;
			margin: 4px 6px 15px !important;
		}

		h3 {
			border-left: 1px solid var( --qm-panel-separator ) !important;
			clear: none !important;
			float: left !important;
			font-size: 14px !important;
			margin: 3px 0 15px !important;
			min-width: 150px !important;
			padding: 5px 15px 15px !important;
			text-align: center !important;

			&:first-child {
				border-left: none !important;
			}

			small {
				font-size: 14px !important;
			}

			span {
				display: block !important;
				margin-bottom: 8px !important;
				white-space: nowrap !important;
			}
		}

		h4 {
			font-size: 13px !important;
			margin: 15px 6px 5px !important;
		}

		.qm-debug-bar-output {
			position: relative !important;

			table {
				margin-bottom: 4px !important;
				margin-top: 4px !important;
			}
		}
	}

	#debug-menu-target-Debug_Bar_Console {
		min-height: 400px !important;
	}

	#debug-menu-target-Debug_Bar_Cache_Lookup,
	#debug-menu-target-Debug_Bar_Rewrite_Rules,
	#debug-menu-target-Debug_Bar_Widgets {
		margin: 4px 6px !important;
	}

	#debug-menu-target-Debug_Bar_Rewrite_Rules_Panel .filterui,
	#debug-menu-target-Debug_Bar_Rewrite_Rules_Panel .dbrr {
		margin: 0 !important;
	}

	#debug-menu-target-Debug_Bar_Rewrite_Testing_Panel {
		padding: 10px 0 !important;
	}

	#debug-menu-target-EP_Debug_Bar_ElasticPress {
		li {
			border-top: 1px solid var( --qm-panel-separator ) !important;
			line-height: 20px !important;
			padding: 20px 0 !important;

			.dashicons:hover {
				background-color: var( --qm-panel-menu-bg-hover ) !important;
			}
		}
	}
}

#qm-fatal {
	margin: 1em !important;
	/* @TODO */
	border: 2px solid #c00 !important;
	/* @TODO */
	box-shadow: 0 0 0 2px #fff;
	/* @TODO */
	background: #fff !important;
	max-width: 700px !important;
	clear: both !important;
	position: absolute !important;
	z-index: 99999 !important;

	h2 {
		font-size: 12px !important;
		font-weight: normal !important;
		padding: 5px !important;
		/* @TODO */
		background: #f3f3f3 !important;
		margin: 0 !important;
	}

	.qm-icon path {
		fill: #c00 !important;
	}

	ol,
	p {
		font-size: 12px !important;
		padding: 0 !important;
		margin: 1em !important;
	}

	ol {
		padding: 0 0 1em 1em !important;
	}

	li {
		margin: 0 0 0.7em !important;
		list-style: none !important;
	}

	.qm-info {
		/* @TODO */
		color: #666 !important;
	}
}

body#error-page {
	#qm-fatal {
		margin: 0 !important;
		border: none !important;
	}
}
