/** === Fallbacks Container === */

#query-monitor-fallbacks {
	display: none !important;
}

/** === Admin Toolbar === */

#wpadminbar {
	--qm-menu-icon: #aaa;
	--qm-menu-alert-bg: #f60;
	--qm-menu-notice-bg: #740;
	--qm-menu-notice-bg-hover: #6a3c00;
	--qm-menu-expensive-bg: #b60;
	--qm-menu-expensive-bg-hover: #a25800;
	--qm-menu-warning-bg: #c00;
	--qm-menu-warning-bg-hover: #b30000;
	--qm-menu-fg: #eee;
	--qm-menu-true-fg: #8c8;
	--qm-menu-true-fg-hover: #47a747;

	/* True conditionals */
	.quicklinks .menupop ul li.qm-item-conditionals > a {
		color: var( --qm-menu-true-fg ) !important;

		&:focus,
		&:hover {
			color: var( --qm-menu-true-fg-hover ) !important;
		}
	}

	/* Submenu item badges */
	.ab-submenu a {
		&:focus,
		&:hover {
			.qm-menu-badge {
				opacity: 0.8;
			}
		}
	}

	#wp-admin-bar-query-monitor {
		/* Top-level toolbar item for notices */
		&.qm-notice {
			background-color: var( --qm-menu-notice-bg ) !important;
		}

		/* Top-level toolbar item for errors and warnings */
		&.qm-error,
		&.qm-warning {
			background-color: var( --qm-menu-warning-bg ) !important;
		}

		small {
			font-size: 11px !important;
		}

		.ab-submenu .ab-item {
			display: flex !important;
			align-items: center;
		}

		.qm-menu-badge {
			background: #50626f;
			border-radius: 99px;
			color: #eee;
			font-size: 10.5px;
			font-weight: 600;
			line-height: 1;
			margin-left: auto;
			/* min-width: 18px; */
			padding: 3px 7px;
			text-align: center;
		}

		.qm-menu-badge-notice {
			background: var( --qm-menu-notice-bg );
			color: #eee;
		}

		.qm-menu-badge-warning {
			background: var( --qm-menu-warning-bg );
			color: #eee;
		}

		.qm-menu-badge + .qm-menu-badge {
			margin-left: 6px;
		}
	}
}

/** === Fatal Error Panel === */

#qm-fatal {
	margin: 1em !important;
	border: 2px solid #c00 !important;
	box-shadow: 0 0 0 2px #fff;
	background: #fff !important;
	max-width: 700px !important;
	clear: both !important;
	position: absolute !important;
	z-index: 99999 !important;

	h2 {
		font-size: 12px !important;
		font-weight: normal !important;
		padding: 5px !important;
		background: #f3f3f3 !important;
		margin: 0 !important;
	}

	.qm-icon path {
		fill: #c00 !important;
	}

	ol,
	p {
		font-size: 12px !important;
		padding: 0 !important;
		margin: 1em !important;
	}

	ol {
		padding: 0 0 1em 1em !important;
	}

	li {
		margin: 0 0 0.7em 1em !important;
	}

	.qm-info {
		color: #666 !important;
	}

	a.qm-edit-link svg {
		display: none;
	}
}

body#error-page {
	#qm-fatal {
		margin: 0 !important;
		border: none !important;
	}
}
