/** === Fallbacks Container === */

#query-monitor-fallbacks {
	display: none !important;
}

/** === Admin Toolbar === */

#wpadminbar {
	--qm-menu-notice-bg: #b45309;
	--qm-menu-warning-bg: #c00;
	--qm-menu-warning-fg: #fff;
	--qm-menu-true-fg: #8c8;
	--qm-menu-true-fg-hover: #47a747;

	/* Badge colours: */
	--qm-badge-fg:         #ddd;
	--qm-badge-bg:         #235;
	--qm-badge-notice-fg:  #fff;
	--qm-badge-notice-bg:  #950;
	--qm-badge-warning-fg: #fff;
	--qm-badge-warning-bg: #d00;

	/* True conditionals */
	.quicklinks .menupop ul li.qm-item-conditionals > a {
		color: var( --qm-menu-true-fg ) !important;

		&:focus,
		&:hover {
			color: var( --qm-menu-true-fg-hover ) !important;
		}
	}

	/* Submenu item badges */
	.ab-submenu a {
		&:focus,
		&:hover {
			.qm-menu-badge {
				opacity: 0.9;
			}
		}
	}

	#wp-admin-bar-query-monitor {
		/* Top-level toolbar item for notices */
		&.qm-notice {
			background-color: var( --qm-menu-notice-bg ) !important;
		}

		/* Top-level toolbar item for errors and warnings */
		&.qm-error,
		&.qm-warning {
			background-color: var( --qm-menu-warning-bg ) !important;
			color: var( --qm-menu-warning-fg ) !important;
		}

		small {
			font-size: 11px !important;
		}

		.ab-submenu .ab-item {
			display: flex !important;
			align-items: center;
			gap: 4px;
		}

		.qm-menu-badge {
			background: var( --qm-badge-bg );
			border-radius: 99px;
			color: var( --qm-badge-fg );
			font-size: 10.5px;
			font-weight: 500;
			line-height: 1;
			margin-left: auto;
			padding: 3px 6px;
			text-align: center;
		}

		.qm-menu-badge-notice {
			background: var( --qm-badge-notice-bg );
			color: var( --qm-badge-notice-fg );
		}

		.qm-menu-badge-warning {
			background: var( --qm-badge-warning-bg );
			color: var( --qm-badge-warning-fg );
		}

		.qm-menu-badge + .qm-menu-badge {
			margin-left: 0px;
		}
	}
}

/** === Fatal Error Panel === */

#qm-fatal {
	margin: 1em !important;
	border: 2px solid #c00 !important;
	box-shadow: 0 0 0 2px #fff;
	background: #fff !important;
	max-width: 700px !important;
	clear: both !important;
	position: absolute !important;
	z-index: 99999 !important;

	h2 {
		font-size: 12px !important;
		font-weight: normal !important;
		padding: 5px !important;
		background: #f3f3f3 !important;
		margin: 0 !important;
	}

	.qm-icon path {
		fill: #c00 !important;
	}

	ol,
	p {
		font-size: 12px !important;
		padding: 0 !important;
		margin: 1em !important;
	}

	ol {
		padding: 0 0 1em 1em !important;
	}

	li {
		margin: 0 0 0.7em 1em !important;
	}

	.qm-info {
		color: #666 !important;
	}

	a.qm-edit-link svg {
		display: none;
	}
}

body#error-page {
	#qm-fatal {
		margin: 0 !important;
		border: none !important;
	}
}
