# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Acceptance Tests
on:
  push:
    branches:
      - 'develop'
      - 'trunk'
      - 'master'
    paths:
      - '.github/workflows/acceptance-tests.yml'
      - 'tests/**'
      - '**.css'
      - '**.scss'
      - '**.js'
      - '**.php'
      - 'codeception.dist.yml'
      - 'composer.json'
      - 'docker-compose.yml'
      - 'package.json'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/acceptance-tests.yml'
      - 'tests/**'
      - '**.css'
      - '**.scss'
      - '**.js'
      - '**.php'
      - 'codeception.dist.yml'
      - 'composer.json'
      - 'docker-compose.yml'
      - 'package.json'
  workflow_dispatch:

jobs:
  test:
    name: WP ${{ matrix.wp }} / PHP ${{ matrix.php }}
    strategy:
      # See the following for PHP compatibility of WordPress versions:
      # https://make.wordpress.org/core/handbook/references/php-compatibility-and-wordpress-versions/
      matrix:
        wp:
          # Latest three stable:
          - '6.5'
          - '6.4'
          - '6.3'
        php:
          - '8.2'
          - '7.4'
        include:
          # Latest stable on PHP 8.3:
          - wp: '6.5'
            php: '8.3'
          # Oldest supported on PHP 7.4:
          - wp: '5.6'
            php: '7.4'
      fail-fast: false
    uses: johnbillion/plugin-infrastructure/.github/workflows/reusable-acceptance-tests.yml@trunk
    with:
      wp: ${{ matrix.wp }}
      php: ${{ matrix.php }}
