# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Build Release
on:
  push:
    branches:
      - 'release'

jobs:
  wordpress:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.0
        tools: composer:v2
        coverage: none
        ini-file: development
      env:
        fail-fast: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
        cache: npm

    - name: Install Dependencies
      run: npm ci

    - name: Generate autoload file
      run: |
        composer ci
        composer run build-vendor

    - name: Build Assets
      run: npm run build

    - name: Setup
      run: >
        echo VERSION=$(node -p "require('./package.json').version") >> $GITHUB_ENV

    - name: Tag
      run: |
        echo "Releasing version $VERSION ..."
        git config user.name github-actions
        git config user.email github-actions@github.com
        git checkout -b "release-$VERSION"
        git add -f assets/*
        git add -f vendor/autoload.php
        git add -f vendor/composer/*
        git commit -m "Release $VERSION"
        git tag "$VERSION"
        git push --tags
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
