name: Deploy Assets
on:
  push:
    branches:
      - master

jobs:
  wordpress:
    name: WordPress.org
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      # @TODO need to cache the npm dependencies
      - name: Install Dependencies
        run: npm install

      - name: Populate Changelog
        run: node .github/workflows/changelog.js readme.md
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-asset-update@1.4.1
        env:
          SVN_USERNAME: ${{ secrets.WPORG_SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.WPORG_SVN_PASSWORD }}
          README_NAME: readme.md
