# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Deploy Assets
on:
  push:
    branches:
      - deploy

jobs:
  wordpress:
    name: WordPress.org
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          tools: composer:v2
          coverage: none
          ini-file: development
        env:
          fail-fast: true

      # @TODO need to cache the npm dependencies
      - name: Install Dependencies
        run: npm install

      - name: Generate autoload file
        run: composer dump-autoload --no-dev

      - name: Build Assets
        run: npm run build

      - name: Populate Changelog
        run: node .github/workflows/changelog.js readme.txt
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -f assets/*
          git add readme.txt
          git add -f vendor/autoload.php
          git add -f vendor/composer/*
          git commit -m "Assets"

      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-asset-update@1.4.1
        env:
          SVN_USERNAME: ${{ secrets.WPORG_SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.WPORG_SVN_PASSWORD }}
          README_NAME: readme.txt
